<ion-view view-title="Activatie" class="activate_view">
  <ion-content overflow-scroll="true">
  <!--<ion-content scroll="true">-->
		<div class="list whitebg box_shadow">
			<h4 class="heading_padding">Authenticatie help</h4>
			<div class="padding grey_font">
				<p><b>Geen e-mail met authenticatie code ontvangen:</b></p>
					<div id="list">
						<ul>
							<li>Controleer je Spam folder</li>
							<li>Controleer of je wel het juiste e-mail adres hebt gebruikt.<a class="ion-ios-help-outline" style="color:#f58220; position:relative; bottom:4px" ng-click="openPopover($event)"></a></li>
							<li>Werkt het nog steeds niet?  <a style="" ng-click="onEmail()">Stuur dan een mailtje. Wij helpen je graag verder.</a></li>
						</ul>
					</div>
					<p>&nbsp;</p>
					<p><b>De authenticatie code werkt niet:</b></p>
					<div id="list">
						<ul>
							<li>Probeer het opnieuw</li>
							<li>Werkt het nog steeds niet? <a style="" ng-click="onEmail()">Stuur dan een mailtje. Wij helpen je graag verder.</a></li>
						</ul>
					</div>		
					<script id="my-popover.html" type="text/ng-template">
						<ion-popover-view>
							<ion-header-bar>
								<h4 class="heading_padding">Meer info</h1>
							</ion-header-bar>
							<ion-content>
								<div class="padding grey_font">
									Dit is het e-mail adres waar je b.v. ook de nieuwsbrieven van de Ladies' Circle op ontvangt, en ook het e-mail adres dat andere gebruikers van LAPP kunnen zien op je profiel pagina. 
								</div>
							</ion-content>
						</ion-popover-view>
					</script>			
				</div>
				<br>
				<div style="clear:both"></div>
				<br>
		</div>
</ion-content>
</ion-view>
