<ion-view view-title="Activatie" class="activate_view">
<ion-content overflow-scroll="true">
	<div class="list whitebg box_shadow">
		<h4 class="heading_padding">Welkom!</h4>
		<div class="padding grey_font">
			<p>Heb je zowél je e-mail adres (dat bij de Ladies' Circle bekend is) áls je wachtwoord paraat? Log dan hier in:</p>
			<div class="item-input-inset no-border" style="padding-right: 0px;">
				<div class="row row-bottom" style="padding:0px !important;">
					<div class="col col-80">
						<label class="item-input-wrapper">
							<input type="email" size="35" id="userEmail" placeholder="E-mailadres (dat wij van je hebben ontvangen)" ng-model="active.email">
						</label>		
						<br>
						<label class="item-input-wrapper">
							<input type="password" size="35" id="userPassword" placeholder="LAPP wachtwoord" ng-model="active.password">
						</label>
					</div>
					<div class="col col-20">
						<button class="button button-energized button-small button-outline" ng-click="checkIfEmailAndPasswordIsKnownByMas()" style="float: right;">Stuur</button>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="list whitebg box_shadow">
		<h4 class="heading_padding">Wachtwoord?</h4>
		<div class="padding grey_font">
			<p>Ben je hier voor het eerst, of gebruik je een ander toestel? Of heb je geen zin om in je e-mail te zoeken naar je wachtwoord? Vraag dan een (nieuw) wachtwoord aan:</p>
		</div>
		<div>
			<a href="#/activate/enter">
				<button class="button button-energized button-small button-outline" style="float:right; margin-right:15px;">Ik wil een (nieuw) wachtwoord !</button>
			</a>
		</div>	
		<div style="clear:both"></div>
		<br>	
	</div>		
</ion-content>
</ion-view>