<ion-view view-title="Activatie" class="activate_view">
<ion-content overflow-scroll="true">
	<div class="list whitebg box_shadow" style="padding-top:-2px !important;">
		<div class="grey_font">
			<h4 class="heading_padding">Wachtwoord aanvragen</h4>
			<div class="padding grey_font">
				<p>Vul het e-mail adres in waarmee je geregistreerd bent bij de Ladies' Circle.</p> 
				<div class="item item-input-inset no-border">
					<br>
					<br>
					<div class="row" style="padding:0px !important;">
						<div class="col col-80">
							<label class="item-input-wrapper">
								<input type="email" size="" id="userEmail" placeholder="E-mailadres" ng-model="active.email">
							</label>		
						</div>
						<div class="col col-20">
							<button class="button button-energized button-small button-outline" ng-click="checkIfEmailIsKnownByMas()" style="float:right;">Stuur</button>
						</div>
					</div>				
				</div>
				<div style="clear:both"></div>
				<div class="" style=""><a style="float:right; padding-right:10px; font-size:0.9em; color:#f58220;" ng-click="goToHelp()">Help (het lukt niet / er gaat iets mis)</a></div>
				<div style="clear:both"></div>
			</div>
		</div>
	</div>
	
	<div class="list whitebg box_shadow" style="padding-top:-2px !important;">
		<div class="grey_font">
			<h4 class="heading_padding">Uitleg</h4>
			<div class="padding grey_font">
				<p>De inhoud van deze Ladies' Circle Applicatie (LAPP) is uiteraard niet voor iedereen beschikbaar, maar uitsluitend voor leden van Ladies' Circle Nederland.</p> 
				<p>Je kunt een (nieuw) wachtwoord aanvragen door op deze pagina een e-mail adres in te vullen dat geregistreerd staat in het Leden Administratie Systeem (LAS) van de Ladies' Circle.</p>
				<p>Als het systeem je e-mail adres herkent wordt er een nieuw wachtwoord aangemaakt dat meteen naar dit email adres wordt verzonden. Gebruik dat wachtwoord om mee in te loggen.</p>
			</div>
		</div>
	</div>
</ion-content>
</ion-view>