<ion-tabs class="tabs-top tabs-calm active_tabs">

  <!-- Dashboard Tab -->
  <ion-tab title="Inloggen"  href="#/activate/request">
    <ion-nav-view name="activate-request"></ion-nav-view>
  </ion-tab>

  <!-- Acivatie Tab -->
  <ion-tab title="Aanvragen"  href="#/activate/enter">
    <ion-nav-view name="activate-enter"></ion-nav-view>
  </ion-tab>

    <!-- Acivatie Tab -->
  <ion-tab title="Help"  href="#/activate/help">
    <ion-nav-view name="activate-help"></ion-nav-view>
  </ion-tab>


</ion-tabs>
