<ion-view class="detail_view" view-title="Nieuw agenda item">
<ion-nav-buttons side="left">
  <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="goBack()"> </button>
</ion-nav-buttons>
<ion-content class="has-footer" scroll="true">
<div class="box_shadow padding whitebg" >
	<h4 class="heading_padding" style="padding-bottom:15px;">Evenement details</h4>
    <label class="item item-input search_input">
            <input class="" id="description" type="text" placeholder="Evenement naam" ng-model="selectedCircler.description"/>
    </label>
    <br>
    <div>
        <textarea style="background:#eee;border-radius:10px;margin-left:10px; width:calc(100% - 20px);" class="item-input" id="remarks" rows="5"  placeholder="Evenement omschrijving" ng-model="selectedCircler.remarks"></textarea>
        <br>
        <label class="item item-input search_input">
    <select data-ng-model="selectedCircler.type" data-ng-options="program for program in programs" >
        <option value="">Evenement type</option>
    </select>
        </label>
        <br>
       
        <div class="row no-padding">
			<div class="col-50">
                <label class="item item-input search_input">
                    <input id="startdatetime" type="datetime-local" placeholder="Aanvang tijd" ng-model="dateExample.value"/>
                </label>
            </div>
            <div class="col-50">
            		<label class="item item-input search_input">
						<input id="enddatetime" type="datetime-local" placeholder="Eind tijd" ng-model="dateExample.value1"/>
                    </label>
			</div>
        </div>
        <div style="clear:both"></div>
        <br>
        <label class="item item-input search_input">
            <input id="location" type="text" placeholder="Locatie" ng-model="selectedCircler.location"/>
        </label>
        <br/>
    	</div>
        <div class="row padding compact_list">
        <p class="grey_font " style="">Wil je van het evenement een landelijk evenement maken? Informeer dan de weblady.</p>
        </div>
        <div class="item item-toggle" style="border-top:1px solid #eee;border-right:0px;border-bottom:1px solid #eee;border-left:0px;margin-left:10px;margin-right:10px !important; padding-left:0px;">Weblady informeren
            <label class="toggle toggle-balanced">
            <input type="checkbox" ng-model="setting.alert_pro" ng-change="changeCirclers()"/>
            <div class="track">
            <div class="handle"></div>
            </div>
            </label>
        </div>  

    <div class="name_below_circle" style="margin-top:0px; padding-left:10px; padding-top:15px !important; padding-bottom:15px; line-height:12px !important;">    
	<button class="button button-outline button-energized button-small" style="float:right;right:10px;margin-top:20px" ng-click="onSave(selectedCircler,example)">Evenement Opslaan *</button>
    <div style="clear:both"></div>
    </div>

            <div class="row no-padding">
            <div class="col">
            <p class="grey_font " style="margin-left:10px;">* Je toevoeging is mogelijk pas zichtbaar na een herstart van LAPP. Dit i.v.m. caching op je telefoon.</p>
            </div>
            </div>

</div>
<br>


</ion-content>
  <div class="tabs tabs-icon-top tabs-energized home_bottom_tabs"> 
    <a class="tab-item" href="#/app/home"> <i class="icon icon-tapp-icons-v1_nl-otuline"></i> Home </a> 
    <!--<a class="tab-item " href="#/app/Circle"> <i class="icon icon-tapp-icons-v2-10-v3"></i> Mijn Circle </a>-->
    <a class="tab-item " href="#/app/Circle"> <i class="icon ion-ios-circle-filled"></i> Mijn Circle </a>
    <a class="tab-item" href="#/app/news"> <i class="icon icon-news"></i> Nieuws </a> 
    <a class="tab-item active" href="#/app/agenda"> <i class="icon icon-tapp-icons-v1_agenda"></i> Agenda </a> 
    <a class="tab-item" ng-click="toggleMenu()"> <i class="icon icon-tapp-icons-v2-11"></i> Menu </a> 
  </div>
</ion-view>
