
<ion-view class="detail_view" view-title="Nieuw Agenda Item">
	<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="goBack()">
        </button>
      </ion-nav-buttons>
  <ion-content class="has-footer " >

    
          
        
      
	<div class="box_shadow padding Circler_detail_input whitebg">
		
		<div class="row no-padding">
			<div class="col">
				<label class="item item-input">
                                    <input type="text" ng-model="" value="" placeholder="Evenment Naam">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-50">
				<label class="item item-input">
					<textarea ng-model="" value="" placeholder="Evenment omschrijving"></textarea>
				</label>
			</div>
			<div class="col-50">
				<label class="item item-input">
					<input type="text" placeholder="Evenment type" ng-model="">
				</label>
			</div>
		</div>
		<div class="row ">
			<div class="col-50">
				<label class="item item-input">
					<input type="text" placeholder="Datum" ng-model="">
				</label>
			</div>
			<div class="col-50"></div>
		</div>
		<div class="row no-padding">
			<div class="col-33">
				
					<input type="text" placeholder="Aanvang tijd" ng-model="">
				
			</div>

                         <div class="col-33">
				
					<input type="text" placeholder="Eind tijd" ng-model="">
				
			</div>
		</div>

           <div class="row ">
			<div class="col-50">
				<label class="item item-input">
					<input type="text" placeholder="Locatie" ng-model="">
				</label>
			</div>
			<div class="col-50"></div>
		</div>


              <div class="row no-padding">
			<div class="col-33">
				
					<input type="text" placeholder="Tekest Op button" ng-model="">
				
			</div>

                         <div class="col-33">
				
					<input type="text" placeholder="Url Van button" ng-model="">
				
			</div>
		</div>

	

	
			
			
			<button class="button button-outline button-energized button-small" style="float:right;right:10px;margin-top:20px" ng-click="onSave(selectedCircler)">Evenement Opslaan</button>
			

			<br><br><br>
	</div>
	
	
  </ion-content>

	<div class="tabs tabs-icon-top tabs-energized home_bottom_tabs">
	  <a class="tab-item " href="#/app/home">
		<i class="icon icon-tapp-icons-v1_nl-otuline"></i>
		Home
	  </a>
	  <a class="tab-item active" href="#/app/Circle">
		<i class="icon icon-tapp-icons-v2-10-v3"></i>
		Mijn Circle
	  </a>
	  <a class="tab-item" href="#/app/message">
		<i class="icon icon-tapp-icons-v1_comment-outline"></i>
		Berichten
	  </a>
	  <a class="tab-item " href="#/app/agenda">
		<i class="icon icon-tapp-icons-v1_agenda"></i>
		Agenda
	  </a>
	  <a class="tab-item" ng-click="toggleMenu()">
		<i class="icon icon-tapp-icons-v2-11"></i>
		Menu
	  </a>
	</div>
</ion-view>
