<ion-view class="activate_view" view-title="Agenda">
	<ion-nav-buttons side="left">
    	<button class="button button-icon button-clear" style="min-width:44px !important; max-width:44px !important;"></button>
  	</ion-nav-buttons>
     <ion-nav-buttons side="right">
    <div ng-if="current.tab=='Circle'">
    <button class="button button-icon button-clear ion-ios-plus-outline" ng-click="addNewAgenda()">
    </div>
    </button>
  </ion-nav-buttons>
  <div class="tabs tabs-top tabs-energized custom_tab"> <a class="tab-item" ng-class="current.tab=='Circle'?'active':''" ng-click="changeTab('Circle')"> <span>Mijn Circle</span> </a> 
    <a class="tab-item"  ng-class="current.tab=='national'?'active':''" ng-click="changeTab('national')"> <span>Nationaal</span> </a> 
	</div>
  <ion-content class="has-tabs-top has-footer">
    <div ng-if="current.tab=='Circle'">      
      <div class="list box_shadow whitebg">
       	<h4 class="heading_padding" style="padding-bottom:0px;">Resultaten</h4>
       	<a class="custom_item item item-avatar item-icon-right" ng-repeat="item in myCircle" ng-click="goMyCircleAgendaDetail($index)">
					<div class="date_round"><span style="font-size:26px;">{{item.date}}</span>
					<br>
						<span style="font-size:13px;">{{item.month}}</span>
						<br>
						<span style="font-size:17px;">{{item.year}}</span>
						<br>
					</div>
					<h2 class="blue_font" style="margin-top:6px;">{{item.description}}</h2>
					<p class="no-white-space one_line">{{item.type}}</p>
					<p class="no-white-space one_line">Locatie: {{item.location}}</p>
					<i class="icon icon-tapp-icons-v1_more-outline energized"></i> 
				</a>
      </div>    
      <div style="clear:both"></div>
      <br>
	  	<br>
    </div>
    <div ng-if="current.tab=='national'">       
      <div class="list box_shadow whitebg">
        <h4 class="heading_padding" style="padding-bottom:0px;">Resultaten</h4>
        <a class="custom_item item item-avatar item-icon-right" ng-repeat="item in national" ng-click="goNationalAgendaDetail($index)">
          <div class="date_round"><span style="font-size:26px;">{{item.date}}</span>
          <br>
            <span style="font-size:13px;">{{item.month}}</span>
            <br>
            <span style="font-size:17px;">{{item.year}}</span>
            <br>
          </div>
          <h2 class="blue_font" style="margin-top:6px;">{{item.remarks}}</h2>
          <p class="no-white-space one_line">Type: {{item.type}}</p>
          <p class="no-white-space one_line">Locatie: {{item.location}}</p>
          <i class="icon icon-tapp-icons-v1_more-outline energized"></i> 
        </a>
     	</div>
      <br>
      <br>
    </div>
  </ion-content>
  <div class="tabs tabs-icon-top tabs-energized home_bottom_tabs"> 
    <a class="tab-item" href="#/app/home"> <i class="icon icon-tapp-icons-v1_nl-otuline"></i> Home </a> 
    <!--<a class="tab-item " href="#/app/Circle"> <i class="icon icon-tapp-icons-v2-10-v3"></i> Mijn Circle </a>-->
    <a class="tab-item " href="#/app/Circle"> <i class="icon ion-ios-circle-filled"></i> Mijn Circle </a>
    <a class="tab-item" href="#/app/news"> <i class="icon icon-news"></i> Nieuws </a> 
    <a class="tab-item active" href="#/app/agenda"> <i class="icon icon-tapp-icons-v1_agenda"></i> Agenda </a> 
    <a class="tab-item" ng-click="toggleMenu()"> <i class="icon icon-tapp-icons-v2-11"></i> Menu </a> 
  </div>
</ion-view>
