<ion-view class="detail_view" view-title="Agenda">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="goBack()"> </button>
  </ion-nav-buttons>

  <ion-content class="has-footer">
	<div class="list box_shadow whitebg">
		<a class="custom_item item item-avatar item-icon-right">
			<div class="date_round">
				<span style="font-size:26px;">{{selectedAgenda.date}}</span>
				<br>
				<span style="font-size:13px;">{{selectedAgenda.month}}</span>
				<br>
				<span style="font-size:17px;">{{selectedAgenda.year}}</span>
				<br>
			</div>
			<h2 class="blue_font" style="margin-top:0px;">LC{{selectedAgenda.circle}} {{selectedAgenda.circlename}}</h2>
			<p class="no-white-space one_line">{{selectedAgenda.description}}</p>
			<p class="no-white-space one_line">Locatie: {{selectedAgenda.location}}</p>
		</a>
	</div>
	<div class="list box_shadow padding whitebg" style="">
		<div class="Circler_details_div">
			<p  class="Circler_details_text" ><strong>Datum:</strong> {{selectedAgenda.date}} {{selectedAgenda.month}} {{selectedAgenda.year}} </p>
			<p  class="Circler_details_text"><strong>Tijd:</strong> {{selectedAgenda.time}}</p>
			<p  class="Circler_details_text"><strong>Locatie:</strong> {{selectedAgenda.location}} </p>
		</div>
		<hr class="Circler_details_hr" />   
		<div class="Circler_details_div">
			<p class="Circler_details_text"><strong>Organisator:</strong> Circle {{selectedAgenda.circle}} {{selectedAgenda.circlename}}</p>
			<p class="Circler_details_text"><strong>Evenement type:</strong> {{selectedAgenda.type}}</p>
			<p class="Circler_details_text"><strong>Naam:</strong> {{selectedAgenda.description}}</p> 
			<p class="Circler_details_text"><strong>Details:</strong> {{selectedAgenda.remarks}}</p>        
		</div>
		<hr class="Circler_details_hr" /><br>
		<div class="Circler_details_div">
			<div class="col-50 grey_font">
        <button class="button icon button-energized ion-ios-calculator-outline button-small button-outline" ng-click="onCal()"> iCal toevoegen</button>
        <br><br>
      </div>
 
	</div>
	</div>  
  <div class="box_shadow whitebg">
    <h4 class="heading_padding">Evenement delen</h4>
    <div class="row padding" style="padding-bottom:15px;">
      <div class="col-20">
        <button class="button button-outline button-energized  icon ion-social-twitter" style="width:50px;" ng-click="onTwitter()"></button>
      </div>
      <div class="col-20">
        <button class="button button-outline button-energized icon icon-linkedin2" style="width:50px;" ng-click="onLinkdin()"></button>
      </div>
      <div class="col-20">
        <button class="button button-outline button-energized  icon ion-android-mail" style="width:50px;" ng-click="onEmail()"></button>
      </div>
      <div class="col-20" ng-if="selectedAgenda.url != ''">
        <button class="button button-outline button-energized  icon ion-social-facebook" style="width:50px;" ng-click="onFacebook()"></button>
      </div>
    </div>
  </div>
  <br>
  <br>
</ion-content>
  <div class="tabs tabs-icon-top tabs-energized home_bottom_tabs"> 
    <a class="tab-item" href="#/app/home"> <i class="icon icon-tapp-icons-v1_nl-otuline"></i> Home </a> 
    <!--<a class="tab-item " href="#/app/Circle"> <i class="icon icon-tapp-icons-v2-10-v3"></i> Mijn Circle </a>-->
    <a class="tab-item " href="#/app/Circle"> <i class="icon ion-ios-circle-filled"></i> Mijn Circle </a>
    <a class="tab-item" href="#/app/news"> <i class="icon icon-news"></i> Nieuws </a> 
    <a class="tab-item active" href="#/app/agenda"> <i class="icon icon-tapp-icons-v1_agenda"></i> Agenda </a> 
    <a class="tab-item" ng-click="toggleMenu()"> <i class="icon icon-tapp-icons-v2-11"></i> Menu </a> 
  </div>
</ion-view>