<ion-view class="detail_view" view-title="{{selectedCircler.firstname}}'s details">
	<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="goBack()">
        </button>
      </ion-nav-buttons>
  <ion-content class="has-footer">
	<div class="list box_shadow whitebg">
		<a class="custom_item item item-avatar item-icon-right">
            <div ng-if="item.photo != 'no image'" class="custom-img">
            	<img src="{{selectedCircler.photo}}" class="avatar_img"/>
            </div>
            <div ng-if="selectedCircler.photo== 'no image'" class="orange-custom">{{selectedCircler.fullname.split(" ")[0][0]}}{{selectedCircler.fullname.split(" ")[1][0]}}</div>
            <h2 class="blue_font" style="margin-top:6px;">{{selectedCircler.fullname}}</h2>
            <p class="no-white-space">LC {{selectedCircler.circle}}, {{selectedCircler.circlename}}</p>
            <p class="no-white-space">{{selectedCircler.occupation}}</p>
		</a>
		<div class="tabs tabs-icon-top energized detail_tab">
		  	<a class="tab-item" ng-click="addContact()" ><i class="icon icon-tapp-icons-v2-012"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>Toevoegen</a>
		  	<a ng-click="CallNumber()" class="tab-item"><i class="icon icon-tapp-icons-v2-phone-03"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>Bellen</a>
		  	<a class="tab-item" ng-click="onEmail()"><i class="icon icon-tapp-icons-v2-042"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>E-mail</a>
		  	<a class="tab-item"  ng-click="goCirclersOnMap()"><i class="icon icon-location-arrow"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>Locatie</a>
		</div>		
	</div>

	<div class="list box_shadow padding whitebg" style="padding-top:0px;">
		<div class="Circler_details_div">
        	<h4 class="blue_font"><br>{{selectedCircler.fullname}}&nbsp;&nbsp;<font style="color:#ff2fae"><br><i class="icon ion-ios-heart-outline" style="font-size:0.8em;"></i>&nbsp;&nbsp;{{selectedCircler.spouse}}</font></h4>
            <p class="Circler_details_text" ng-if="selectedCircler.addr_street != ''">{{selectedCircler.addr_street}}<br>{{selectedCircler.addr_postcalcode}} {{selectedCircler.addr_city}}</p>      
        </div>
        <hr class="Circler_details_hr" />   
        <div class="Circler_details_div">
        	<p class="Circler_details_text" ng-if="selectedCircler.cell != ''"><strong>Telefoon:</strong> {{selectedCircler.cell}}<br><strong>E-mail:</strong> {{selectedCircler.email}}</p>
        </div>
        <hr class="Circler_details_hr" />
        <div class="Circler_details_div">
        <p class="Circler_details_text" ng-if="selectedCircler.occ_group != ''"><strong>Beroepsgroep:</strong> {{selectedCircler.occ_group}}<br><strong>Functie:</strong> {{selectedCircler.occupation}}</p>
        </div>
        
        <hr class="Circler_details_hr" />   
        <div class="Circler_details_div">
        	<p class="Circler_details_text" ng-if="selectedCircler.birthday != ''"><strong>Leeftijd:</strong> {{selectedCircler.age}} jong, want geboren op {{selectedCircler.birthday}}<br><strong>Kinderen:</strong> {{selectedCircler.kids}}

        <!--    <br><strong>Overige info over {{selectedCircler.firstname}}:</strong> {{selectedCircler.about_me}}</p> -->
        
        </div>
     </div>
    
    <div class="list box_shadow padding whitebg">
		<h4 class="heading" style="margin-bottom:6px !important;">Functies in eigen Circle:</h4>
		<p class="Circler_details_text">{{selectedCircler.role_in_circle}}</p>
		<h4 class="heading" style="margin-bottom:6px !important;" ng-if="selectedCircler.positions.length > 0">Nationale functies:</h4>
		<p class="Circler_details_text">{{selectedCircler.positions[0].Function}}<br>
		{{selectedCircler.positions[1].Function}}<br>
		{{selectedCircler.positions[2].Function}}<br>
		{{selectedCircler.positions[3].Function}}<br>
		{{selectedCircler.positions[4].Function}}<br>
		{{selectedCircler.positions[5].Function}}<br>
		{{selectedCircler.positions[6].Function}}<br>
		{{selectedCircler.positions[7].Function}}<br>
		{{selectedCircler.positions[8].Function}}<br>
		{{selectedCircler.positions[9].Function}}<br>
		{{selectedCircler.positions[10].Function}}<br>
		{{selectedCircler.positions[11].Function}}<br>
		{{selectedCircler.positions[12].Function}}</p>

	</div>
	<br>
    <br>
  </ion-content>
  <div class="tabs tabs-icon-top tabs-energized home_bottom_tabs"> 
    <a class="tab-item" href="#/app/home"> <i class="icon icon-tapp-icons-v1_nl-otuline"></i> Home </a> 
    <!--<a class="tab-item " href="#/app/Circle"> <i class="icon icon-tapp-icons-v2-10-v3"></i> Mijn Circle </a>-->
    <a class="tab-item active" href="#/app/Circle"> <i class="icon ion-ios-circle-filled"></i> Mijn Circle </a> 
    <a class="tab-item" href="#/app/news"> <i class="icon icon-news"></i> Nieuws </a> 
    <a class="tab-item " href="#/app/agenda"> <i class="icon icon-tapp-icons-v1_agenda"></i> Agenda </a> 
    <a class="tab-item" ng-click="toggleMenu()"> <i class="icon icon-tapp-icons-v2-11"></i> Menu </a> 
  </div>
</ion-view>