
<ion-view class="detail_view" view-title="Circle Details">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="goBack()"> </button>
  </ion-nav-buttons>
  
  <ion-content class="has-footer">
    
    <div class="list box_shadow whitebg">
      <div class="custom_item item item-avatar item-icon-right">
        <div class="id_round">{{selectedCircler.circle}}</div>
        <h2 class="blue_font" style="margin-top:6px;">Ladies' Circle {{selectedCircler.circle}}<br>{{selectedCircler.name}}</h2>
        <p class="no-white-space one_line">Opgericht: {{selectedCircler.charter_date | date:'dd-MM-yyyy'}}</p>
      </div>
      <div class="row padding compact_list" style="padding-top:15px !important;">
        <div class="col-50 grey_font">Naam:</div>
        <div class="col-50 blue_font">{{selectedCircler.name}}</div>
      </div>
      <div class="row padding compact_list">
        <div class="col-50 grey_font">Land:</div>
        <div class="col-50 blue_font">{{selectedCircler.district_name}}</div>
      </div>
      <div class="row padding compact_list">
        <div class="col-50 grey_font">Oprichtingsdatum:</div>
        <div class="col-50 blue_font">{{selectedCircler.charter_date | date:'dd-MM-yyyy'}}</div>
      </div>
      <div class="row padding compact_list">
        <div class="col-50 grey_font">Aantal Ladies:</div>
        <div class="col-50 blue_font">{{selectedCircler.no_of_members}}</div>
      </div>
      <div class="row padding compact_list">
        <div class="col-50 grey_font">Website:</div>
        <div class="col-50 blue_font"><a ng-click="websiteClick()">Klik hier voor de website</a></div>
      </div>
      <div class="row padding compact_list">
        <div class="col-50 grey_font">Facebook:</div>
        <div class="col-50 blue_font"><a ng-click="facebookClick()">Ladies' Circle {{selectedCircler.circle}} op Facebook</a></div>
      </div>
      <div class="row padding compact_list">
        <div class="col-50 grey_font">Twitter:</div>
        <div class="col-50 blue_font"><a ng-click="twitterClick()">Ladies' Circle {{selectedCircler.circle}} op Twitter</a></div>
      </div>
        <div class="row padding compact_list">
        <div class="col-5 grey_font">
        </div>
        <div class="col-90 grey_font" style="line-height:18px !important;"><h4 class="heading" style="margin-bottom:4px !important;">Over deze Circle:</h4>{{selectedCircler.circle_summary}}
        </div>
        <div class="col-5 blue_font"></div>
      </div>
      <div class="row padding">
        <div class="col-5 grey_font">.</div>
        <div class="col-90 blue_font"><button class="button button-outline button-energized button-small" style="margin-top:10px !important; margin-bottom:0px !important;" ng-click="goLadies()">Ladies van LC{{selectedCircler.circle}}</button></div>
      </div>
      <br>
    </div>
    
    <div class="list box_shadow whitebg">
      <div class="">
        <h4 class="heading_padding">Secretaris</h4>
        <a class="custom_item item item-avatar item-icon-right" style="padding-top:10px !important;">
        <div class="id_round">SECR</div>
        <div ng-if="roleinCircle2.photo== 'no image'" class="orange-custom"> SEC </div>
        <h2 class="blue_font" style="margin-top:6px;">{{selectedCircler.secretary_name}}</h2>
        <p class="no-white-space">{{selectedCircler.secretary_email}}</p>
        <p class="no-white-space">{{selectedCircler.secretary_phone}}</p>
        <i class="icon energized"></i> </a> 
        </div>
    </div>
    <div class="list box_shadow whitebg">
      <div class="row padding">
        <div class="col-33 blue_font">Int. contacten:</div>
        <div class="col-67 grey_font">{{selectedCircler.international_contacts}} </div>
      </div>
    </div>
    <div class="list box_shadow whitebg">
      <div class="row padding">
        <div class="col-33 blue_font">Meetings:</div>
        <div class="col-67 grey_font">{{selectedCircler.meetings}} </div>
      </div>
    </div>
    <br>
  </ion-content>
  <div class="tabs tabs-icon-top tabs-energized home_bottom_tabs"> 
    <a class="tab-item " href="#/app/home"> <i class="icon icon-tapp-icons-v1_nl-otuline"></i> Home </a> 
    <!--<a class="tab-item " href="#/app/Circle"> <i class="icon icon-tapp-icons-v2-10-v3"></i> Mijn Circle </a>-->
    <a class="tab-item active" href="#/app/Circle"> <i class="icon ion-ios-circle-filled"></i> Mijn Circle </a> 
    <a class="tab-item" href="#/app/news"> <i class="icon icon-news"></i> Nieuws </a> 
    <a class="tab-item " href="#/app/agenda"> <i class="icon icon-tapp-icons-v1_agenda"></i> Agenda </a> 
    <a class="tab-item" ng-click="toggleMenu()"> <i class="icon icon-tapp-icons-v2-11"></i> Menu </a> 
  </div>
</ion-view>
