
<ion-view class="detail_view" view-title="Profiel aanpassen">
	<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="goBack()">
        </button>
      </ion-nav-buttons>
  
  <ion-content id="addStepWrapper" class="has-footer">

  <!--<ion-content class="has-footer " >-->

 	<a class="item item-avatar item-icon-right" style="border:0px; border-bottom:1px solid #eee; padding-bottom:25px;">
	     <div ng-if="myInformation.photo != 'no image'" class="custom-img">
					<img src="{{myInformation.photo}}" class="avatar_img"/>
                                        </div>
                                    <div ng-if="myInformation.photo== 'no image'" class="orange-custom">
                                      {{myInformation.fullname.split(" ")[0][0]}}{{myInformation.fullname.split(" ")[1][0]}}
                                    </div>
		
	<h2 class="blue_font" style="margin-top:6px;">{{myInformation.fullname}}</h2>
	 <p class="no-white-space">LC {{myInformation.circle}}, {{myInformation.circlename}}</p>
	 <p class="no-white-space">{{myInformation.occupation}}</p>
	</a>
    <div class="list box_shadow whitebg">
        <div class="padding">
            <div class="row padding compact_list">
              <!--<button class="button button-outline button-energized button-small" style="" ng-click="takefacebookPicture()">Gebruik foto van Facebook</button></div>-->
              <div class="col-50"><button class="button button-outline button-energized button-small" style="" ng-click="takePicture()">Profielfoto aanpassen</button></div>
            </div>
        </div>
    </div>
    <div class="box_shadow Circler_detail_input whitebg">
		<h4 class="heading_padding">Algemeen</h4>
        <div class="padding">
            <div class="row padding compact_list">
                <div class="col-50 grey_font">Laatst ingelogd op:</div>
                <div class="col-50 blue_font">{{myInformation.last_seen | date:"HH:mm op dd-MM-yy"}}</div>
            </div>
            <div class="row padding compact_list">
                <div class="col-50 grey_font">Profiel aanpasbaar: </div>
                <div class="col-50 blue_font">{{myInformation.is_editable}}</div>
            </div>
                <div class="row padding compact_list">
                <div class="col-50 grey_font">Je lidmaatschapnummer: </div>
                <div class="col-50 blue_font">{{myInformation.member_id}}</div>
            </div>
            <div class="row padding compact_list">
                <div class="col-50 grey_font">Functie in eigen Circle: </div>
                <div class="col-50 blue_font">{{myInformation.role_in_circle}}</div>
            </div>
            <div class="row padding compact_list">
                <div class="col-50 grey_font">Aangemeld met: </div>
                <div class="col-50 blue_font">{{myInformation.email}}</div>
            </div>
            <div class="row padding compact_list">
                <div class="col-50 grey_font">LAPP versie: </div>
                <div class="col-50 blue_font">2.7.027</div>
            </div>
        </div>
      </div>
     <br> 
	<div class="box_shadow tabler_detail_input whitebg" style="padding-bottom:10px; margin-bottom:30px;"> 
		<h4 class="heading_padding">Contact gegevens</h4>
		<div class="row no-padding">
			<div class="col">
				<label class="item item-input">
        	<input class="" type="text" placeholder="Straatnaam" ng-model="selectedCircler.addr_street" value="">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-50">
				<label class="item item-input">
					<input type="text" placeholder="Postcode" ng-model="selectedCircler.addr_postcalcode">
				</label>
			</div>
			<div class="col-50">
				<label class="item item-input">
					<input type="text" placeholder="Plaats" ng-model="selectedCircler.addr_city">
				</label>
			</div>
		</div>
		<div class="row ">
			<div class="col-50">
				<label class="item item-input">
					<input type="text" placeholder="Telefoonnummer" ng-model="selectedCircler.cell">
				</label>
			</div><div class="col-50">
			</div>
		</div>
			<div class="row no-padding">
				<div class="col">
				<label class="item item-input">
					<input type="text" placeholder="De naam van je partner" ng-model="selectedCircler.spouse">
				</label>
			</div>
		</div>
		<hr class="Circler_details_hr" style="margin-left:20px; margin-right:20px; margin-top:20px; margin-bottom:10px">
		<h4 class="heading_padding">Persoonlijke gegevens</h4> 

		<div class="row no-padding">
			<div class="col">
				<label class="item item-input">
					<input type="text" placeholder="Naam / namen van je kinderen (optioneel)" ng-model="selectedCircler.kids">
				</label>
			</div>
		</div>
        <div class="row no-padding">
			<div class="col">
				<label class="item item-input">
					<input type="text" placeholder="Beroep" ng-model="selectedCircler.occupation">
				</label>
			</div>
		</div>
		<div class="row no-padding">
			<div class="col">
				<label class="item item-input">
					<input type="text" placeholder="vul hier de beroepsgroep in waartoe je behoort" ng-model="selectedCircler.occ_group">
				</label>
			</div>
		</div>

			<div style="clear:both"></div>
			<button class="button button-outline button-energized button-small" style="float:right;right:12px;margin-top:20px;" ng-click="onSave(selectedCircler)">Opslaan *</button>
			<div style="clear:both"></div>

			<br>

			<div class="row no-padding">
			<div class="col">
			<p class="grey_font " style="margin-left:12px;">* Je wijzigingen zijn mogelijk pas zichtbaar na een herstart van LAPP. Dit i.v.m. caching op je telefoon.</p>
			</div>
			</div>

			<br>
	</div>
	
  </ion-content>

	<div class="tabs tabs-icon-top tabs-energized home_bottom_tabs"> 
		<a class="tab-item active" href="#/app/home"> <i class="icon icon-tapp-icons-v1_nl-otuline"></i> Home </a>
		<!--<a class="tab-item " href="#/app/Circle"> <i class="icon icon-tapp-icons-v2-10-v3"></i> Mijn Circle </a>-->
		<a class="tab-item " href="#/app/Circle"> <i class="icon ion-ios-circle-filled"></i> Mijn Circle </a>
		<a class="tab-item" href="#/app/news"> <i class="icon icon-news"></i> Nieuws </a> 
		<a class="tab-item " href="#/app/agenda"> <i class="icon icon-tapp-icons-v1_agenda"></i> Agenda </a> 
		<a class="tab-item" ng-click="toggleMenu()"> <i class="icon icon-tapp-icons-v2-11"></i> Menu </a> 
	</div>
</ion-view>
