
<ion-view class="activate_view" view-title="Ladies op kaart">
	<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="goBack()">
        </button>
      </ion-nav-buttons>
  <ion-content class="has-footer whitebg" scroll="false">
                
<div class="list no-padding info_window custom-window">

					<a class="no-border item item-avatar" >
					   <div ng-if="selectedCircler.photo != 'no image'" class="custom-img">
					<img src="{{selectedCircler.photo}}" class="avatar_img"/>
                                        </div>
                                    <div ng-if="selectedCircler.photo== 'no image'" class="orange-custom">
                                      {{selectedCircler.fullname.split(" ")[0][0]}}{{selectedCircler.fullname.split(" ")[1][0]}}
                                    </div>
		 <h2>{{selectedCircler.fullname}}</h2>
					  <p class="no-white-space" style="height:15px; line-height:15px; overflow:hidden;">{{selectedCircler.addr_street}}</p>
					  <p class="no-white-space">{{selectedCircler.addr_postcalcode}} {{selectedCircler.addr_city}}</p>
					</a>

                    <div class="row text-center">
                        
                        <div class="col-25">                            
                            <a ng-click="goCirclerDetail()" class="tab-item"><i class="icon icon-tapp-icons-v1_i-circle" style="color:#f58220;"></i></a>
                        </div>


                        <div class="col-25">
                            <a ng-click="addContact2()" class="tab-item"><i class="icon icon-tapp-icons-v2-012" style="color:#f58220;"></i></a>
                        </div>                        
                        <div class="col-25">                        
                        	<a ng-click="CallNumber()" class="tab-item"><i class="icon icon-tapp-icons-v2-phone-03" style="color:#f58220;"></i></a>
                        </div>                        
                         <div class="col-25">                            
                           <a ng-click="onEmail()" class="tab-item"><i class="icon icon-tapp-icons-v2-042" style="color:#f58220;"></i></a>
                        </div>
                    </div>
                    
				</div>        
	<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
		<ui-gmap-marker idkey="marker.id" coords="marker.coords" options="marker.options" click="onClick()" events="marker.events" >
            <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                
            </ui-gmap-window>
        </ui-gmap-marker>
    </ui-gmap-google-map>

  </ion-content>

  <div class="tabs tabs-icon-top tabs-energized home_bottom_tabs"> 
    <a class="tab-item" href="#/app/home"> <i class="icon icon-tapp-icons-v1_nl-otuline"></i> Home </a> 
    <!--<a class="tab-item " href="#/app/Circle"> <i class="icon icon-tapp-icons-v2-10-v3"></i> Mijn Circle </a>-->
    <a class="tab-item active" href="#/app/Circle"> <i class="icon ion-ios-circle-filled"></i> Mijn Circle </a> 
    <a class="tab-item" href="#/app/news"> <i class="icon icon-news"></i> Nieuws </a> 
    <a class="tab-item " href="#/app/agenda"> <i class="icon icon-tapp-icons-v1_agenda"></i> Agenda </a> 
    <a class="tab-item" ng-click="toggleMenu()"> <i class="icon icon-tapp-icons-v2-11"></i> Menu </a> 
  </div>
</ion-view>
