<ion-view class="activate_view" view-title="Mijn Circle">
	<ion-nav-buttons side="left">
    	<button class="button button-icon button-clear" style="min-width:44px !important; max-width:44px !important;"></button>
  	</ion-nav-buttons>          
        
  <div class="tabs tabs-top tabs-energized custom_tab"> 
  	<a class="tab-item" ng-class="current.tab=='dashboard'?'active':''" ng-click="changeTab('dashboard')"><span>Dashboard</span> </a> 
    <a class="tab-item"  ng-class="current.tab=='leden'?'active':''" ng-click="changeTab('leden')"> <span>Leden</span> </a> 
    <a class="tab-item"  ng-class="current.tab=='oud_leden'?'active':''" ng-click="changeTab('oud_leden')"> <span>Oud-Leden</span> </a> 
  </div>
  <ion-content class="has-tabs-top has-footer">
    <div ng-if="current.tab=='oud_leden'"> <a class="custom_item item item-avatar item-icon-right whitebg" ng-repeat="item in oldCirclersList" ng-click="goOldCirclerDetail($index)">
      <div ng-if="item.photo != 'no image'" class="custom-img"> <img cache-src="{{item.photo}}" class="avatar_img"/> </div>
      <div ng-if="item.photo== 'no image'" class="orange-custom"> {{item.fullname.split(" ")[0][0]}}{{item.fullname.split(" ")[1][0]}} </div>
      <h2 class="blue_font" style="margin-top:6px;">{{item.fullname}}</h2>
      <p class="no-white-space one_line grey_font">{{item.addr_street}}</p>
      <p class="no-white-space one_line grey_font" style="text-transform:capitalize !important;">{{item.addr_city}}</p>
      <i class="icon icon-tapp-icons-v1_more-outline energized"></i> </a>  
    </div>
    <div ng-if="current.tab=='leden'"> <a class="custom_item item item-avatar item-icon-right whitebg" ng-repeat="item in allMyCirclers" ng-click="goAllMyCirclerDetail($index)">
      <div ng-if="item.photo != 'no image'" class="custom-img"> <img cache-src="{{item.photo}}" class="avatar_img"/> </div>
      <div ng-if="item.photo== 'no image'" class="orange-custom"> {{item.fullname.split(" ")[0][0]}}{{item.fullname.split(" ")[1][0]}} </div>
      <h2 class="blue_font" style="margin-top:6px;">{{item.fullname}}</h2>
      <p class="no-white-space one_line grey_font">{{item.addr_street}}</p>
      <p class="no-white-space one_line grey_font" style="text-transform:capitalize !important;">{{item.addr_city}}</p>
      <i class="icon icon-tapp-icons-v1_more-outline energized"></i> </a> 
    </div>
    <div ng-if="current.tab=='dashboard'">
      <div class="list box_shadow  whitebg">
        <h4 class="heading_padding" style="padding-bottom:10px;">Mijn Ladies</h4>
        <div class="row">
          <div class="col-25 text-center pos-relative" ng-repeat="item in myCirclers" ng-click="goCirclerDetail($index)">
            <div class="pos-img">
              <div ng-if="item.photo != 'no image'" class=""> <img cache-src="{{item.photo}}" class="avatar_img"/> </div>
              <div ng-if="item.photo== 'no image'" class="dashboard-orange"> {{item.fullname.split(" ")[0][0]}}{{item.fullname.split(" ")[1][0]}} </div>
            </div>
            <div style="clear:both;"></div>
            <div class="name_below_circle">{{item.firstname}}</div>
          </div>
        </div>
        <button class="button button-outline button-energized button-small" style="float:right; margin-right:10px;margin-top:10px; margin-bottom:20x;" ng-click="changeTab('leden')">Mijn Ladies</button>
        <br>
        <br>
        <br>
      </div>
      <div class="list box_shadow whitebg">
        <h4 class="heading_padding">Agenda van mijn Circle</h4>
        <a class="custom_item item item-avatar item-icon-right" ng-repeat="item in agendaList" ng-click="goAgendaDetail($index)">
        <div class="date_round"><span style="font-size:26px;">{{item.date}}</span><br>
          <span style="font-size:13px;">{{item.month}}</span><br>
          <span style="font-size:17px;">{{item.year}}</span><br>
        </div>
        <h2 class="blue_font" style="margin-top:6px;">{{item.type}}</h2>
        <p class="no-white-space one_line">{{item.remarks}}</p>
        <p class="no-white-space one_line">{{item.location}}</p>
        <i class="icon icon-tapp-icons-v1_more-outline energized"></i> </a>
        <button class="button button-outline button-energized button-small" style="float:right; margin-right:10px;margin-top:20px;margin-bottom:10px;" ng-click="goAgenda()">Volledige agenda</button>
        <div style="clear:both"></div>
      </div>
      <div class="box_shadow whitebg">
        <h4 class="heading_padding">Ledenverloop</h4>
        <div class="chart-left-text_myCircle small_grey_font" style="padding-left:10px";>Deze (klikbare) grafiek laat het ledenverloop zien over de afgelopen 4 jaren. We houden rekening met de natuurlijke uittreding op 1 april vanwege het bereiken van de 45-jarige leeftijd. Op 2 april zal het ledenaantal dus laag zijn, en op 31 maart hoog.</div>
        <br>
        <div class="list" style="position:relative; width:100%; padding-left:30px;padding-right:20px;">       
        <div class="chart-left-text small_grey_font"></div>
        <div class="chart-left-text_myCircle small_grey_font">Aantal leden</div>
        <canvas id="bar" class="chart chart-line" data="graph.data" labels="graph.labels" series="graph.series" height="100"></canvas>
        <div style="clear:both"></div>
        </div>
      </div>
      <br>
      <div class="list box_shadow whitebg">
         <h4 class="heading_padding">Profiel van mijn Circle</h4>
        <a class="custom_item item item-avatar">
        <div class="id_round orange_font">{{myCircle.circle}}</div>
        <h2 class="blue_font" style="margin-top:6px;">Ladies' Circle {{myCircle.circle}}</h2>
        <p class="no-white-space one_line">{{myCircle.name}}</p>
        <p class="one_line">Aantal leden: {{myCircle.no_of_members}}</p>
        <i class="icon  energized"></i> </a>
       <div class="row padding compact_list" style="padding-top:15px !important;">
          <div class="col-50 grey_font">Naam:</div>
          <div class="col-50 blue_font">{{myCircle.name}}</div>
        </div>
        <div class="row padding compact_list">
          <div class="col-50 grey_font">Omschrijving:</div>
          <div class="col-50 blue_font">{{myCircle.circle_summary}}</div>
        </div>
        <div class="row padding compact_list">
          <div class="col-50 grey_font" >Oprichtingsdatum:</div>
          <div class="col-50 blue_font" >{{myCircle.date}}</div>
        </div>
        <div class="row padding compact_list">
          <div class="col-50 grey_font" >Aantal Ladies:</div>
          <div class="col-50 blue_font" >{{myCircle.no_of_members}}</div>
        </div>
        <div class="row padding compact_list">
          <div class="col-50 grey_font" >Website:</div>
          <div class="col-50 blue_font"><a ng-click="websiteClick()">Website van eigen Circle</a></div>
        </div>
        <div class="row padding compact_list">
          <div class="col-50 grey_font" >Facebook:</div>
          <div class="col-50 blue_font"><a ng-click="facebookClick()">Eigen Circle op Facebook</a></div>
        </div>
        <div class="row padding compact_list">
          <div class="col-50 grey_font" >Twitter:</div>
          <div class="col-50 blue_font"><a ng-click="twitterClick()">Twitter</a></div>
        </div>
      </div>
    <div class="list box_shadow whitebg">
      <div ng-if="myroleinCircle1 != ''">
        <h4 class="heading_padding">Voorzitter</h4>
        <a class="custom_item item item-avatar item-icon-right" ng-click="goAllMyCirclerDetail(myroleinCircle1.ind)" style="padding-top:10px !important;">
        <div ng-if="myroleinCircle1.photo != 'no image'" class="custom-img"> <img cache-src="{{myroleinCircle1.photo}}" class="avatar_img"/> </div>
        <div ng-if="myroleinCircle1.photo== 'no image'" class="orange-custom"> {{myroleinCircle1.fullname.split(" ")[0][0]}}{{myroleinCircle1.fullname.split(" ")[1][0]}} </div>
         <h2 class="blue_font" style="margin-top:6px;">{{myroleinCircle1.fullname}}</h2>
        <p class="no-white-space">{{myroleinCircle1.email}}</p>
        <p class="no-white-space">{{myroleinCircle1.cell}}</p>
        <i class="icon icon-tapp-icons-v1_more-outline energized"></i> </a> 
      </div>
      <div  ng-if="myroleinCircle2 != ''">
        <h4 class="heading_padding">Secretaris</h4>
        <a class="custom_item item item-avatar item-icon-right" ng-click="goAllMyCirclerDetail(myroleinCircle2.ind1)" style="padding-top:10px !important;">
        <div ng-if="myroleinCircle2.photo != 'no image'" class="custom-img"> <img cache-src="{{myroleinCircle2.photo}}" class="avatar_img"/> </div>
        <div ng-if="myroleinCircle2.photo== 'no image'" class="orange-custom"> {{myroleinCircle2.fullname.split(" ")[0][0]}}{{myroleinCircle2.fullname.split(" ")[1][0]}} </div>
        <h2 class="blue_font" style="margin-top:6px;">{{myroleinCircle2.fullname}}</h2>
        <p class="no-white-space">{{myroleinCircle2.email}}</p>
        <p class="no-white-space">{{myroleinCircle2.cell}}</p>
        <i class="icon icon-tapp-icons-v1_more-outline energized"></i> </a> 
      </div>
      <div  ng-if="myroleinCircle3 != ''">
        <h4 class="heading_padding">Penningmeester</h4>
        <a class="custom_item item item-avatar item-icon-right" ng-click="goAllMyCirclerDetail(myroleinCircle3.ind2)" style="padding-top:10px !important;">
        <div ng-if="myroleinCircle3.photo != 'no image'" class="custom-img"> <img cache-src="{{myroleinCircle3.photo}}" class="avatar_img"/> </div>
        <div ng-if="myroleinCircle3.photo== 'no image'" class="orange-custom"> {{myroleinCircle3.fullname.split(" ")[0][0]}}{{myroleinCircle3.fullname.split(" ")[1][0]}} </div>
         <h2 class="blue_font" style="margin-top:6px;">{{myroleinCircle3.fullname}}</h2>
        <p class="no-white-space">{{myroleinCircle3.email}}</p>
        <p class="no-white-space">{{myroleinCircle3.cell}}</p>
        <i class="icon icon-tapp-icons-v1_more-outline energized"></i> </a> 
      </div>
      <div style="clear:both"></div>
  </div>
  <div class="list box_shadow whitebg">
    <div class="row padding">
      <div class="col-33 blue_font" >Int. contacten:</div>
      <div class="col-67 grey_font" >{{myCircle.international_contacts}} </div>
    </div>
  </div>
  <div class="list box_shadow whitebg">
    <div class="row padding">
      <div class="col-33 blue_font" >Meetings:</div>
      <div class="col-67 grey_font" >{{myCircle.meetings}} </div>
    </div>
  </div>
  <br>
</div>
</ion-content>
  <div class="tabs tabs-icon-top tabs-energized home_bottom_tabs"> 
    <a class="tab-item" href="#/app/home"> <i class="icon icon-tapp-icons-v1_nl-otuline"></i> Home </a> 
    <!--<a class="tab-item " href="#/app/Circle"> <i class="icon icon-tapp-icons-v2-10-v3"></i> Mijn Circle </a>-->
    <a class="tab-item active" href="#/app/Circle"> <i class="icon ion-ios-circle-filled"></i> Mijn Circle </a> 
    <a class="tab-item" href="#/app/news"> <i class="icon icon-news"></i> Nieuws </a> 
    <a class="tab-item " href="#/app/agenda"> <i class="icon icon-tapp-icons-v1_agenda"></i> Agenda </a> 
    <a class="tab-item" ng-click="toggleMenu()"> <i class="icon icon-tapp-icons-v2-11"></i> Menu </a> 
  </div>
</ion-view>
