<ion-view class="activate_view" view-title="Nationaal">
	<ion-nav-buttons side="left">
    	<button class="button button-icon button-clear" style="min-width:44px !important; max-width:44px !important;"></button>
  	</ion-nav-buttons>

	<div class="tabs tabs-top tabs-energized custom_tab"> 

	<a class="tab-item" ng-class="current.tab=='dashboard'?'active':''" ng-click="changeTab('dashboard')"> <span>Dashboard</span> </a> 
	<a class="tab-item" ng-class="current.tab=='leden'?'active':''" ng-click="changeTab('leden')"> <span>Leden</span> </a> 
	<a class="tab-item" ng-class="current.tab=='circles'?'active':''" ng-click="changeTab('circles')"> <span>Circles</span> </a> </div>
	
	<ion-content class="has-tabs-top has-footer">

		<div ng-if="current.tab=='circles'" >
			<div class="list"> <a class="custom_item item item-avatar item-icon-right" ng-repeat="item in CircleList" ng-click="goCircleDetail($index)">
				<div class="id_round">{{item.circle}}</div>
				<h2 class="blue_font" style="margin-top:6px;">LC{{item.circle}} {{item.name}}</h2>
				<p class="no-white-space one_line">Leden: {{item.no_of_members}}</p>
				<p class="no-white-space one_line">Opgericht: {{item.date}}</p>
				<i class="icon icon-tapp-icons-v1_more-outline energized"></i> </a> </div>
		</div>
		<div ng-if="current.tab=='leden'" >
			<div class="box_shadow padding whitebg" >
				<h4 class="positive">Zoeken op:</h4>
        <p class="grey_font " style="">Gebruik (een combinatie van) zoektermen als, voornaam, achternaam, beroep, plaats of Circle nummer.<br>
        Gebruik a.u.b. alleen een Circle nummer als je op Circles zoekt.</p>
        <br>
				<label class="item item-input search_input">
					<input id="searchTerm" type="text" placeholder="zoekterm(en)" ng-model="searchOption.text"/>
				</label>
				<br>
				<h4 class="positive">Zoeken in:</h4>
				<p style="color:#555">Filter je zoekresultaten.</p>
				<div class="item item-toggle "  style="border-top:1px solid #eeeeee;border-right:0px;border-bottom:1px solid #eeeeee;border-left:0px;"> Ladies
					<label class="toggle toggle-balanced">
					<input type="checkbox" ng-model="searchOption.Circlers" ng-change="changeCirclers()"/>
					<div class="track">
						<div class="handle"></div>
					</div>
					</label>
				</div>
				<div class="item item-toggle " style="border-top:1px solid #eeeeee;border-right:0px;border-bottom:1px solid #eeeeee;border-left:0px;"> Circles
					<label class="toggle toggle-balanced">
					<input type="checkbox" ng-model="searchOption.Circle" ng-change="changeCircles()"/>
					<div class="track">
						<div class="handle"></div>
					</div>
					</label>
				</div>
				<a class="button button-outline button-energized button-small" style="float:right; margin-right:10px;margin-top:20px;" ng-click="onSearch()">Zoeken</a> <br>
				<br>
				<br>
			</div>
			
			<div ng-if="searchList.length>0" class="no-padding">
				<div ng-if="searchOption.Circlers" class="no-padding"> <a class="custom_item item item-avatar item-icon-right" ng-repeat="item in searchList" ng-click="sCirclerDetail($index)">
					<div ng-if="item.photo != 'no image'" class="custom-img"> <img src="{{item.photo}}" class="avatar_img"/> </div>
					<div ng-if="item.photo== 'no image'" class="orange-custom">{{item.fullname.split(" ")[0][0]}}{{item.fullname.split(" ")[1][0]}}</div>
					<h2 class="blue_font" style="margin-top:6px;">{{item.fullname}}</h2>
					<p class="no-white-space one_line">LC {{item.circle}}, {{item.circlename}}</p>
					<p class="no-white-space one_line">{{item.occupation}}</p>
					<i class="icon icon-tapp-icons-v1_more-outline energized"></i> </a> </div>
				<div ng-if="!searchOption.Circlers" class="no-padding"> <a class="custom_item item item-avatar item-icon-right" ng-repeat="item in searchList" ng-click="sCircleDetail($index)">
					<div class="id_round">{{item.circle}}</div>
					<h2 class="blue_font" style="margin-top:6px;">LC {{item.circle}} {{item.name}}</h2>
					<p class="no-white-space one_line">Secretaris: {{item.secretary_name}}</p>
					<p class="no-white-space one_line">Leden: {{item.no_of_members}}</p>
					<i class="icon icon-tapp-icons-v1_more-outline energized"></i> </a> </div>
			</div>
			
			<div ng-if="searchList.length<=0" class="padding text-center"> Geen zoekresultaten. </div>
		</div>
		<div ng-if="current.tab=='dashboard'">
			<div class=" list box_shadow  whitebg">
				<h4 class="heading_padding" style="padding-bottom:10px;">Nieuwste Ladies</h4>
				<div class="row">
					<div class="col-25 text-center pos-relative" ng-repeat="item in newestCirclers" ng-click="goCirclerDetail($index)">
						<div class="pos-img">
							<div ng-if="item.photo != 'no image'" class=""> <img cache-src="{{item.photo}}" class="avatar_img"/> </div>
							<div ng-if="item.photo== 'no image'" class="dashboard-orange orange_font"> {{item.fullname.split(" ")[0][0]}}{{item.fullname.split(" ")[1][0]}} </div>
						</div>
						<div style="clear:both;"></div>
						<div class="name_below_circle">{{item.firstname}}</div>
					</div>
				</div>
				<button class="button button-outline button-energized button-small" style="float:right; margin-right:10px;margin-top:10px; margin-bottom:20x;" ng-click="changeTab('leden')">Ladies zoeken</button>
				<br>
				<br>
				<br>
			</div>
			<div class="list box_shadow whitebg" >
				<h4 class="heading_padding">Nieuws</h4>
				<a class="custom_item item item-avatar item-icon-right" ng-repeat="item in newsList" ng-click="goNewsDetail($index)"> <img cache-src="{{item.thumbnail}}"/>
				<h2 class="blue_font" style="margin-top:6px;">{{item.title}}</h2>
				<p class="" ng-bind-html="item.content" style="height:40px; white-space: normal;"></p>
				<i class="icon icon-tapp-icons-v1_more-outline energized" style="white-space:nowrap !important;"></i> </a> <a class="button button-outline button-energized button-small" style="float:right; margin-right:10px;margin-top:20px; margin-bottom:20x;" href="#/app/news">Nieuws overzicht</a> <br>
				<br>
				<br>
			</div>
			<div class="list box_shadow whitebg">
				<h4 class="heading_padding">Agenda</h4>
				<a class="custom_item item item-avatar item-icon-right" ng-repeat="item in agendaList" ng-click="goAgendaDetail($index)">
				<div class="date_round"><span style="font-size:26px;">{{item.date}}</span><br>
					<span style="font-size:13px;">{{item.month}}</span><br>
					<span style="font-size:17px;">{{item.year}}</span><br>
				</div>
				<h2 class="blue_font" style="margin-top:6px;">Circle {{item.circle}} {{item.circlename}}</h2>
				<p class="no-white-space one_line">{{item.description}}</p>
				<p class="no-white-space one_line">Locatie: {{item.location}}</p>
				<i class="icon icon-tapp-icons-v1_more-outline energized"></i> </a>
				<button class="button button-outline button-energized button-small" style="float:right; margin-right:10px;margin-top:20px;" ng-click="goAgenda()">Volledige agenda</button>
				<div style="clear:both"></div>
				<br>
			</div>
			<div class="list box_shadow whitebg" style="line-height:13px;">
				<h4 class="heading_padding blue_font" style="padding-top:14px !important; padding-bottom:0px !important;">Cijfers en stats</h4>
				<div class="row padding compact_list">
					<div class="col-50 grey_font" style="color:#949fab">Circles:</div>
					<div class="col-50 " style="color:#3c4c62; padding-left:20px;">{{ntrList[0]["#circles"]}}</div>
				</div>
				<div class="row padding compact_list">
					<div class="col-50 grey_font" style="color:#949fab">Actieve leden:</div>
					<div class="col-50 blue_font" style="color:#3c4c62; padding-left:20px;">{{ntrList[0]["#circlers"]}}</div>
				</div>
				<div class="row padding compact_list">
					<div class="col-50 grey_font" style="color:#949fab">Oud-leden:</div>
					<div class="col-50 blue_font" style="color:#3c4c62; padding-left:20px;">{{ntrList[0]["#oudcirclers"]}}</div>
				</div>
				<div class="row padding compact_list">
					<div class="col-50 grey_font" style="color:#949fab">Gemiddelde leeftijd:</div>
					<div class="col-50 blue_font" style="color:#3c4c62; padding-left:20px;">{{ntrList[0]["gemm_leeftijd"]}}</div>
				</div>
				<h5 class="heading_padding">Ledenverloop</h5>
				<div class="row padding compact_list">
				Het huidige aantal leden wordt mogelijk beinvloed doordat er 1x per jaar op de peildatum 1 april Ladies worden uitgeschreven.
				</div>
				<div class="list whitebg" style="position:relative; width:100%; padding-left:30px;padding-right:20px;">
					<div class="chart-left-text small_grey_font"></div>
					<div class="chart-left-text small_grey_font">Aantal leden</div>
					<canvas id="bar" class="chart chart-line" data="graph.data" labels="graph.labels" series="graph.series" height="140px" width=""></canvas>
					<a class="button button-outline button-energized button-small" style="float:right;margin-top:20px; margin-bottom:20x;" href="#/app/statistics">Meer cijfers en stats</a> <br>
					<br>
					<br>
				</div>
				<a href="#/app/secret"><img src="img/1pixel.png" height="20" width="20"/></a> 
				<br>
			</div>
		</div>
		<br>
	</ion-content>
	<div class="tabs tabs-icon-top tabs-energized home_bottom_tabs"> 
		<a class="tab-item active" href="#/app/home"> <i class="icon icon-tapp-icons-v1_nl-otuline"></i> Home </a> 
    <!--<a class="tab-item " href="#/app/Circle"> <i class="icon icon-tapp-icons-v2-10-v3"></i> Mijn Circle </a>-->
    <a class="tab-item " href="#/app/Circle"> <i class="icon ion-ios-circle-filled"></i> Mijn Circle </a>
		<a class="tab-item" href="#/app/news"> <i class="icon icon-news"></i> Nieuws </a> 
		<a class="tab-item " href="#/app/agenda"> <i class="icon icon-tapp-icons-v1_agenda"></i> Agenda </a> 
		<a class="tab-item" ng-click="toggleMenu()"> <i class="icon icon-tapp-icons-v2-11"></i> Menu </a> 
	</div>
</ion-view>
