<ion-view class="activate_view" view-title="Ladies van LC{{selectedCircler.circle}}">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="goBack()"> </button>
  </ion-nav-buttons>
	<div class="tabs tabs-top tabs-energized custom_tab">
	  <a class="tab-item"  ng-class="current.tab=='leden'?'active':''" ng-click="changeTab('leden')">
		<span>Leden</span>
	  </a>
	  <a class="tab-item"  ng-class="current.tab=='oud_leden'?'active':''" ng-click="changeTab('oud_leden')">
		<span>Oud-Leden</span>
	  </a>

	</div>
    
 <ion-content class="has-tabs-top has-footer">
     <div ng-if="current.tab=='leden'">
                  
			<a class="custom_item item item-avatar item-icon-right whitebg" ng-repeat="item in Circlers" ng-click="goAllMyCirclerDetail($index)">
			  <div ng-if="item.photo != 'no image'" class="custom-img">
					<img cache-src="{{item.photo}}" class="avatar_img"/>
                                        </div>
                                    <div ng-if="item.photo== 'no image'" class="orange-custom">
                                      {{item.fullname.split(" ")[0][0]}}{{item.fullname.split(" ")[1][0]}}
                                    </div>
			  <h2 class="blue_font" style="margin-top:6px;">{{item.fullname}}</h2>
			  <p class="no-white-space one_line grey_font">{{item.addr_street}}, {{item.addr_city}}</p>
			  <p class="no-white-space one_line grey_font">Functie: {{item.occupation}}</p>
			  <i class="icon icon-tapp-icons-v1_more-outline energized"></i>
			</a>
	</div>

		<div ng-if="current.tab=='oud_leden'">
			<a class="custom_item item item-avatar item-icon-right whitebg" ng-repeat="item in oldCirclersList" ng-click="goOldCirclerDetail($index)">
			  <div ng-if="item.photo != 'no image'" class="custom-img">
					<img cache-src="{{item.photo}}" class="avatar_img"/>
                                        </div>
                                    <div ng-if="item.photo== 'no image'" class="orange-custom">
                                      {{item.fullname.split(" ")[0][0]}}{{item.fullname.split(" ")[1][0]}}
                                    </div>
			  <h2 class="blue_font" style="margin-top:6px;">{{item.fullname}}</h2>
			  <p class="no-white-space one_line grey_font">{{item.addr_street}}, {{item.addr_city}}</p>
			  <p class="no-white-space one_line grey_font">Functie: {{item.occupation}}</p>
			  <i class="icon icon-tapp-icons-v1_more-outline energized"></i>
			</a>
	</div>
  </ion-content>

  <div class="tabs tabs-icon-top tabs-energized home_bottom_tabs"> 
    <a class="tab-item" href="#/app/home"> <i class="icon icon-tapp-icons-v1_nl-otuline"></i> Home </a> 
    <!--<a class="tab-item " href="#/app/Circle"> <i class="icon icon-tapp-icons-v2-10-v3"></i> Mijn Circle </a>-->
    <a class="tab-item active" href="#/app/Circle"> <i class="icon ion-ios-circle-filled"></i> Mijn Circle </a> 
    <a class="tab-item" href="#/app/news"> <i class="icon icon-news"></i> Nieuws </a> 
    <a class="tab-item " href="#/app/agenda"> <i class="icon icon-tapp-icons-v1_agenda"></i> Agenda </a> 
    <a class="tab-item" ng-click="toggleMenu()"> <i class="icon icon-tapp-icons-v2-11"></i> Menu </a> 
  </div>
</ion-view>
