<ion-view class="activate_view" view-title="Inloggen">
  <div class="tabs tabs-top tabs-energized custom_tab"> 
  	<a class="tab-item" ng-class="current.tab=='inloggen'?'active':''" ng-click="changeTab('inloggen')"><span>Inloggen</span> </a> 
    <a class="tab-item"  ng-class="current.tab=='aanvragen'?'active':''" ng-click="changeTab('aanvragen')"> <span>Aanvragen</span> </a> 
    <a class="tab-item"  ng-class="current.tab=='help'?'active':''" ng-click="changeTab('help')"> <span>Help</span> </a> 
  </div>
	
  <ion-content class="has-tabs-top has-header">
		<div ng-if="current.tab=='inloggen'" style="">			
			<div class="list whitebg box_shadow">
				<h4 class="heading_padding">Welkom !</h4>
				<div class="padding grey_font">
					<p>Heb je zowél je e-mail adres (dat bij de Ladies' Circle bekend is) áls je wachtwoord paraat? Log dan hier in:</p>
					<div class="item-input-inset no-border" style="padding-right: 0px;">
						<div class="row row-bottom" style="padding:0px !important;">
							<div class="col col-80">
								<label class="item-input-wrapper">
									<input type="email" size="35" id="userEmail" placeholder="E-mailadres (dat LCNL van je kent)" ng-model="active.email">
								</label>		
								<br>
								<label class="item-input-wrapper">
									<input type="password" size="35" id="userPassword" placeholder="LAPP wachtwoord" ng-model="active.password">
								</label>
							</div>
							<div class="col col-20">
								<button class="button button-energized button-small button-outline" ng-click="checkIfEmailAndPasswordIsKnownByMas()" style="float: right;">Log in</button>
							</div>
						</div>
					</div>
				</div>
			</div>	
			<div class="list whitebg box_shadow">
				<h4 class="heading_padding">Wachtwoord ?</h4>
				<div class="padding grey_font">
					<p>Ben je hier voor het eerst, of gebruik je een ander toestel? Of heb je geen zin om in je e-mail te zoeken naar je wachtwoord? Vraag dan een (nieuw) wachtwoord aan:</p>
				</div>
				<div>
						<button class="button button-energized button-small button-outline" style="float:right; margin-right:15px;" ng-click="changeTab('aanvragen')">Ik wil een (nieuw) wachtwoord !</button>
				</div>	
				<div style="clear:both"></div>
				<br>	
			</div>			
    </div>
		
    <div ng-if="current.tab=='aanvragen'">			
			<div class="list whitebg box_shadow" style="padding-top:-2px !important;">
				<div class="grey_font">
					<h4 class="heading_padding">Wachtwoord aanvragen</h4>
					<div class="padding grey_font">
						<p>Vul het e-mail adres in waarmee je geregistreerd bent bij de Ladies' Circle.</p> 
						<div class="item item-input-inset no-border">
							<br>
							<br>
							<div class="row" style="padding:0px !important;">
								<div class="col col-80">
									<label class="item-input-wrapper">
										<input type="email" size="" id="userEmail" placeholder="E-mailadres" ng-model="active.email">
									</label>		
								</div>
								<div class="col col-20">
									<button class="button button-energized button-small button-outline" ng-click="checkIfEmailIsKnownByMas()" style="float:right;">Stuur</button>
								</div>
							</div>				
						</div>
						<div style="clear:both"></div>
						<div class="" style=""><a style="float:right; padding-right:10px; font-size:0.9em; color:#f45c71;" ng-click="changeTab('help')">Help (het lukt niet / er gaat iets mis)</a></div>
						<div style="clear:both"></div>
					</div>
				</div>
			</div>
			
			<div class="list whitebg box_shadow" style="padding-top:-2px !important;">
				<div class="grey_font">
					<h4 class="heading_padding">Uitleg</h4>
					<div class="padding grey_font">
						<p>De inhoud van deze Ladies' Circle Applicatie (LAPP) is uiteraard niet voor iedereen beschikbaar, maar uitsluitend voor leden van Ladies' Circle Nederland.</p> 
						<p>Je kunt een (nieuw) wachtwoord aanvragen door op deze pagina een e-mail adres in te vullen dat geregistreerd staat in het Leden Administratie Systeem (LAS) van de Ladies' Circle.</p>
						<p>Als het systeem je e-mail adres herkent wordt er een nieuw wachtwoord aangemaakt dat meteen naar dit email adres wordt verzonden. Gebruik dat wachtwoord om mee in te loggen.</p>
					</div>
				</div>
			</div>
			
    </div>
		
    <div ng-if="current.tab=='help'">     
		 <div class="list whitebg box_shadow">
			<h4 class="heading_padding">Authenticatie help</h4>
			<div class="padding grey_font">
				<p><b>Geen e-mail met authenticatie code ontvangen:</b></p>
					<div id="list">
						<ul>
							<li>Controleer je Spam folder</li>
							<li>Controleer of je wel het juiste e-mail adres hebt gebruikt.<a class="ion-ios-help-outline" style="color:#f45c71; position:relative; bottom:4px" ng-click="openPopover($event)"></a></li>
							<li>Werkt het nog steeds niet?  <a style="" ng-click="onEmail()">Stuur dan een mailtje. Wij helpen je graag verder.</a></li>
						</ul>
					</div>
					<p>&nbsp;</p>
					<p><b>De authenticatie code werkt niet:</b></p>
					<div id="list">
						<ul>
							<li>Probeer het opnieuw</li>
							<li>Werkt het nog steeds niet? <a style="" ng-click="onEmail()">Stuur dan een mailtje. We helpen je graag verder.</a></li>
						</ul>
					</div>		
					<script id="my-popover.html" type="text/ng-template">
						<ion-popover-view>
							<ion-header-bar>
								<h4 class="heading_padding">Meer info</h1>
							</ion-header-bar>
							<ion-content>
								<div class="padding grey_font">
									Dit is het e-mail adres waar je b.v. ook de nieuwsbrieven van de Ladies' Circle op ontvangt, en ook het e-mail adres dat andere gebruikers van LAPP kunnen zien op je profiel pagina.  
								</div>
							</ion-content>
						</ion-popover-view>
					</script>			
				</div>
				<br>
				<div style="clear:both"></div>
				<br>
		</div>		 
	</div>
</ion-content>
</ion-view>
