<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content edge-drag-threshold="false" drag-content="false">
    <ion-nav-bar class="bar-energized">
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-search" ng-click="goSearch()"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" class="menu_content">
	    <ion-content class=" has-footer">
				<ion-list>
				<br>
				<a menu-close class="item item-avatar item-icon-right pdd-left70">
		 			<div ng-if="myInformation.photo != 'no image'" class="custom-img menu-img-top">
						<img src="{{myInformation.photo}}" class="avatar_img" ng-click="goCirclerDetail()" style="height:50px; width:50px"/>
					</div>
					<div ng-if="myInformation.photo== 'no image'" class="sidemenu-orange-custom menu-img" ng-click="goCirclerDetail()" style="height:50px; width:50px">{{myInformation.fullname.split(" ")[0][0]}}{{myInformation.fullname.split(" ")[1][0]}}</div>
					<h2 style="padding-top:6px;">{{myInformation.fullname}}</h2>
					<p style="color:white">LC{{myInformation.circle}}, {{myInformation.circlename}}</p>
					<i class="icon ion-ios-gear-outline" ng-click="goCirclerDetailEdit()"></i>
				</a>
				<ion-item menu-close href="#/app/home" class="item-icon-left">
					<i class="icon icon-tapp-icons-v1_nl-otuline"></i>
					<h2>Home</h2>
				</ion-item>
				<ion-item menu-close href="#/app/Circle" class="item-icon-left">
					<i class="icon ion-ios-circle-filled"></i>
					<h2>Mijn Circle</h2>
				</ion-item>
				<!--
				<ion-item menu-close href="#/app/message" class="item-icon-left">
					<i class="icon icon-tapp-icons-v1_comment-outline"></i>
					<h2>Berichten</h2>
				</ion-item>
				-->
				<ion-item menu-close href="#/app/agenda" class="item-icon-left">
					<i class="icon icon-tapp-icons-v1_agenda"></i>
					<h2>Agenda</h2>
				</ion-item>
				<ion-item menu-close href="#/app/news" class="item-icon-left">
					<i class="icon icon-news"></i>
						<h2>Nieuws</h2>
				</ion-item>
				<!--
				<ion-item menu-close href="#/app/quizHome" class="item-icon-left">
					<i class="icon icon-tapp-icons-v1_gamepad"  style="margin-top:-5px"></i>
					<h2>Quiz</h2>
				</ion-item>
				<ion-item menu-close class="item-icon-left" ng-click="onWebshop()">
					<i class="icon ion-ios-cart-outline"></i>
					<h2>Webshop</h2>
				</ion-item>
				-->

				<ion-item menu-close href="#/app/ntr" class="item-icon-left">
					<i class="icon ion-ios-book-outline">
						<span class="path1"></span>
						<span class="path2"></span>
						<span class="path3"></span>
						<span class="path4"></span>
						<span class="path5"></span>
					</i>
					<h2>LC informatie pagina's</h2>
				</ion-item>
				<ion-item menu-close href="#/app/rti" class="item-icon-left">
					<i class="icon ion-ios-world-outline"></i>
					<h2>LCI informatie pagina's</h2>
				</ion-item>
				<ion-item menu-close ng-click="onOverTapp()" class="item-icon-left">
					<i class="icon icon-tapp-icons-v1_smartphone"></i>
					<h2>Over LAPP</h2>
				</ion-item>
			</ion-list>	  
    </ion-content>
		<div class="bar-footer bar-balanced menu_footer">
		  <a menu-close class="item item-icon-left item-icon-right">
				<i class="icon icon-power_settings_new"  ng-click="logout()"></i>
				<span  ng-click="logout()">Uitloggen</span>
				<i class="icon icon-tapp-icons-v1_i-circle"  ng-click="goSlider()"></i>
		  </a>
	  </div>
  </ion-side-menu>
</ion-side-menus>