
<ion-view class="detail_view" view-title="Nieuws">
	<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="goBack()">
        </button>
      </ion-nav-buttons>
  <ion-content class="has-footer ">
		<img class="full-image" src="{{selectedNews.thumbnail_images.medium.url}}" />
		<div class="box_shadow padding whitebg" style="margin-top:-5px; padding-top:0px;">
			<h4 class="positive" style="margin-top:0px; padding-top:10px;">{{selectedNews.title}}</h4>
			<p style="font-size:1em; color:#666; line-height:10px;">Door: {{selectedNews.author.name}}</p>
			<p style="font-size:1em; color:#666; line-height:10px;">Datum: {{selectedNews.modified}}</p>
			<p ng-bind-html="selectedNews.content"></p>
		</div>
		<br>
		<div class="box_shadow padding whitebg" style="">
			<h4 class="blue_font">Bericht delen</h4>
			<div class="row">
				<div class="col-20">
					<button class="button button-outline button-energized icon ion-social-twitter" style="width:50px;" ng-click="onTwitter()"></button>
				</div>
				<div class="col-20">
					<button class="button button-outline button-energized icon icon-linkedin2" style="width:50px;" ng-click="onLinkdin()"></button>
				</div>
				<div class="col-20">
					<button class="button button-outline button-energized icon ion-android-mail" style="width:50px;" ng-click="onEmail()"></button>
				</div>
				<div class="col-20" ng-if="selectedNews.url != ''">
                    <button class="button button-outline button-energized  icon ion-social-facebook" style="width:50px;" ng-click="onFacebook()"></button>
				</div>
			</div>
		</div>     
        <br>
        
        <div class="list box_shadow whitebg" >
	        <h4 class="heading_ads">ADVERTENTIE</h4>
    	    <div class="" style="margin-bottom:-7px !important; padding-top:5px; ">
          		<a ng-click="AdvertiserTwoWebsiteClick()"><img src="https://lappadmin.nl/wp-content/uploads/lapp-ad-2.gif"/> </a>
	        </div>
        </div>
        <br>
        
  </ion-content>

  <div class="tabs tabs-icon-top tabs-energized home_bottom_tabs"> 
    <a class="tab-item" href="#/app/home"> <i class="icon icon-tapp-icons-v1_nl-otuline"></i> Home </a> 
    <!--<a class="tab-item " href="#/app/Circle"> <i class="icon icon-tapp-icons-v2-10-v3"></i> Mijn Circle </a>-->
    <a class="tab-item " href="#/app/Circle"> <i class="icon ion-ios-circle-filled"></i> Mijn Circle </a>> 
    <a class="tab-item active" href="#/app/news"> <i class="icon icon-news"></i> Nieuws </a> 
    <a class="tab-item" href="#/app/agenda"> <i class="icon icon-tapp-icons-v1_agenda"></i> Agenda </a> 
    <a class="tab-item" ng-click="toggleMenu()"> <i class="icon icon-tapp-icons-v2-11"></i> Menu </a> 
  </div>
</ion-view>
