
<ion-view class="detail_view" view-title="Nieuws">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="goHome()"> </button>
  </ion-nav-buttons>
  <ion-content class=" has-footer ">
    <div class="box_shadow padding whitebg" ng-repeat="item in newsList" ng-click="goNewsDetail($index)" ng-if="$index < 5" style="margin-bottom:20px; padding-top:;"> 
    	<img class="full-image" src="{{item.thumbnail_images.medium.url}}" />
      	<h4 class="heading" style="height:20px;line-height:20px;overflow:hidden;margin:0px; margin-bottom:2px !important; margin-top:2px;;">{{item.title}}</h4>
      	<p style="color:#3c4c62; font-size:12px; margin-top:2px; margin-bottom:8px !important; padding:0px !important;line-height:12px;">Door: {{item.author.name}} op {{item.modified}}</p>
      	<a class="item item-icon-right no-padding" style="border:0px; min-height:40px;">
    	  	<p class="no-white-space three_lines three_lines_btn grey_font" ng-bind-html="item.content" style=""></p>
      		<i class="icon icon-tapp-icons-v1_more-outline energized" style=""></i> 
        </a> 
    </div>
    <br>
    <!--
    <div class="list box_shadow whitebg" >
      <h4 class="heading_ads">ADVERTENTIE</h4>
      <div class="" style="margin-bottom:-7px !important; padding-top:5px; "> 
      	<a ng-click="AdvertiserOneWebsiteClick()"><img src="https://lappadmin.nl/wp-content/uploads/2017/05/tapp-ad-1.gif"/> </a> 
      </div>
    </div>
	<br>
      -->
    <div class="box_shadow padding whitebg" ng-repeat="item in newsList" ng-click="goNewsDetail($index)" ng-if="$index > 4 && $index < 10" style="margin-bottom:20px; padding-top:;"> 
    	<img class="full-image" src="{{item.thumbnail_images.medium.url}}" />
      	<h4 class="heading" style="height:20px;line-height:20px;overflow:hidden;margin:0px; margin-bottom:2px !important; margin-top:6px;;" >{{item.title}}</h4>
      	<p style="color:#3c4c62; font-size:12px; margin-top:2px; margin-bottom:8px !important; padding:0px !important;line-height:12px;">Door: {{item.author.name}} op {{item.modified}}</p>
      	<a class="item item-icon-right no-padding" style="border:0px; min-height:40px;">
    	  	<p class="no-white-space three_lines three_lines_btn grey_font" ng-bind-html="item.content" style=""></p>
      		<i class="icon icon-tapp-icons-v1_more-outline energized" style=""></i> 
        </a> 
    </div>
    <br>
        <!--
    <div class="list box_shadow whitebg" >
      <h4 class="heading_ads">ADVERTENTIE</h4>
      <div class="" style="margin-bottom:-7px !important; padding-top:5px; "> 
      	<a ng-click="AdvertiserOneWebsiteClick()"><img src="https://lappadmin.nl/wp-content/uploads/2017/05/tapp-ad-1.gif/> </a> 
      </div>
    </div>
    <br>
    -->
    <div class="box_shadow padding whitebg" ng-repeat="item in newsList" ng-click="goNewsDetail($index)" ng-if="$index > 9 && $index < 15" style="margin-bottom:20px; padding-top:;"> 
    	<img class="full-image" src="{{item.thumbnail_images.medium.url}}" />
      	<h4 class="heading" style="height:20px;line-height:20px;overflow:hidden;margin:0px; margin-bottom:2px !important; margin-top:6px;;" >{{item.title}}</h4>
      	<p style="color:#3c4c62; font-size:12px; margin-top:2px; margin-bottom:8px !important; padding:0px !important;line-height:12px;">Door: {{item.author.name}} op {{item.modified}}</p>
      	<a class="item item-icon-right no-padding" style="border:0px; min-height:40px;">
    	  	<p class="no-white-space three_lines three_lines_btn grey_font" ng-bind-html="item.content" style=""></p>
      		<i class="icon icon-tapp-icons-v1_more-outline energized" style=""></i> 
        </a> 
    </div>
    <br>
            <!--
    <div class="list box_shadow whitebg" >
      <h4 class="heading_ads">ADVERTENTIE</h4>
      <div class="" style="margin-bottom:-7px !important; padding-top:5px; "> 
      	<a ng-click="AdvertiserOneWebsiteClick()"><img src="https://lappadmin.nl/wp-content/uploads/2017/05/tapp-ad-1.gif"/> </a> 
      </div>
    </div>
    <br>
        -->
    <div class="box_shadow padding whitebg" ng-repeat="item in newsList" ng-click="goNewsDetail($index)" ng-if="$index > 14 && $index < 20" style="margin-bottom:20px; padding-top:;"> 
    	<img class="full-image" src="{{item.thumbnail_images.medium.url}}" />
      	<h4 class="heading" style="height:20px;line-height:20px;overflow:hidden;margin:0px; margin-bottom:2px !important; margin-top:6px;;" >{{item.title}}</h4>
      	<p style="color:#3c4c62; font-size:12px; margin-top:2px; margin-bottom:8px !important; padding:0px !important;line-height:12px;">Door: {{item.author.name}} op {{item.modified}}</p>
      	<a class="item item-icon-right no-padding" style="border:0px; min-height:40px;">
    	  	<p class="no-white-space three_lines three_lines_btn grey_font" ng-bind-html="item.content" style=""></p>
      		<i class="icon icon-tapp-icons-v1_more-outline energized" style=""></i> 
        </a> 
    </div>
    <div class="list box_shadow whitebg" >
      <h4 class="heading_ads">ADVERTENTIE</h4>
      <div class="" style="margin-bottom:-7px !important; padding-top:5px; "> 
      	<a ng-click="AdvertiserOneWebsiteClick()"><img src="https://lappadmin.nl/wp-content/uploads/lapp-ad-1.gif"/> </a> 
      </div>
    </div>
    <br>
    <br>
    <br>
  </ion-content>
  <div class="tabs tabs-icon-top tabs-energized home_bottom_tabs"> 
    <a class="tab-item" href="#/app/home"> <i class="icon icon-tapp-icons-v1_nl-otuline"></i> Home </a> 
    <!--<a class="tab-item " href="#/app/Circle"> <i class="icon icon-tapp-icons-v2-10-v3"></i> Mijn Circle </a>-->
    <a class="tab-item " href="#/app/Circle"> <i class="icon ion-ios-circle-filled"></i> Mijn Circle </a> 
    <a class="tab-item active" href="#/app/news"> <i class="icon icon-news"></i> Nieuws </a> 
    <a class="tab-item" href="#/app/agenda"> <i class="icon icon-tapp-icons-v1_agenda"></i> Agenda </a> 
    <a class="tab-item" ng-click="toggleMenu()"> <i class="icon icon-tapp-icons-v2-11"></i> Menu </a> 
  </div>
</ion-view>
