
<ion-view class="detail_view" view-title="Ladies' Circle Nederland">

	<ion-nav-buttons side="left">
    	<button class="button button-icon button-clear" style="min-width:44px !important; max-width:44px !important;"></button>
  	</ion-nav-buttons>
  
  <ion-content class="has-footer ">
	<ion-list>
		<ion-item class="item-title whitebg" ng-repeat="item in NTRList" ng-click="goNTRDetail($index)">
                {{item['page-shortname']}}
		</ion-item>
	 </ion-list>
	 
	</div>
	<br><br>
  </ion-content>

  <div class="tabs tabs-icon-top tabs-energized home_bottom_tabs"> 
    <a class="tab-item active" href="#/app/home"> <i class="icon icon-tapp-icons-v1_nl-otuline"></i> Home </a> 
    <!--<a class="tab-item " href="#/app/Circle"> <i class="icon icon-tapp-icons-v2-10-v3"></i> Mijn Circle </a>-->
    <a class="tab-item " href="#/app/Circle"> <i class="icon ion-ios-circle-filled"></i> Mijn Circle </a> 
    <a class="tab-item" href="#/app/news"> <i class="icon icon-news"></i> Nieuws </a> 
    <a class="tab-item" href="#/app/agenda"> <i class="icon icon-tapp-icons-v1_agenda"></i> Agenda </a> 
    <a class="tab-item" ng-click="toggleMenu()"> <i class="icon icon-tapp-icons-v2-11"></i> Menu </a> 
  </div>
</ion-view>
