<!-- 
Copyright Jaap Harmsma & Rob Hopster 2016-2017 **Just Add Sugar B.V.**
info@justaddsugar.nl of http://www.justaddsugar.nl
-->

<ion-view class="pre_loading_view">
  <ion-content class="padding text-center" scroll="false" >
			  
  </ion-content>
</ion-view>
