
<ion-view class="activate_view" view-title="Search">
	  <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="goBack()">
        </button>
      </ion-nav-buttons>
  <ion-content class="has-footer whitebg" scroll="true">
        
        <div class="box_shadow padding whitebg" >
        <h4 class="positive">Zoeken op:</h4>
        <p class="grey_font " style="">Gebruik (een combinatie van) zoektermen als, voornaam, achternaam, beroep, plaats of Circle nummer.<br>
        Gebruik a.u.b. alleen een Circle nummer als je op Circles zoekt.</p>
        <br>
        <label class="item item-input search_input">
          <input id="searchTerm" type="text" placeholder="zoekterm(en)" ng-model="searchOption.text"/>
        </label>
        <br>
        <h4 class="positive">Zoeken in:</h4>
        <p style="color:#555">Filter je zoekresultaten.</p>
        
        <div class="item item-toggle "  style="border-top:1px solid #eeeeee;border-right:0px;border-bottom:1px solid #eeeeee;border-left:0px;"> Ladies
          <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="searchOption.Circlers" ng-change="changeCirclers()"/>
          <div class="track">
            <div class="handle"></div>
          </div>
          </label>
        </div>
        <div class="item item-toggle " style="border-top:1px solid #eeeeee;border-right:0px;border-bottom:1px solid #eeeeee;border-left:0px;"> Circles
          <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="searchOption.Circle" ng-change="changeCircles()"/>
          <div class="track">
            <div class="handle"></div>
          </div>
          </label>
        </div>
        <a class="button button-outline button-energized button-small" style="float:right; margin-right:10px;margin-top:20px;" ng-click="onSearch()">Zoeken</a> <br>
        <br>
        <br>
      </div>


		<div ng-if="searchList.length>0" class="no-padding">
			<div ng-if="searchOption.Circlers" class="no-padding">
				<a class="custom_item item item-avatar item-icon-right" ng-repeat="item in searchList" ng-click="sCirclerDetail($index)">
				   <div ng-if="item.photo != 'no image'" class="custom-img"><img src="{{item.photo}}" class="avatar_img"/></div>
                   <div ng-if="item.photo== 'no image'" class="orange-custom">{{item.fullname.split(" ")[0][0]}}{{item.fullname.split(" ")[1][0]}}</div>
				  <h2 class="blue_font" style="margin-top:6px;">{{item.fullname}}</h2>
				  <p class="no-white-space one_line">LC {{item.circle}}, {{item.circlename}}</p>
				  <p class="no-white-space one_line">{{item.occupation}}</p>
				  <i class="icon icon-tapp-icons-v1_more-outline energized"></i>
				</a>
			</div>	
			<div ng-if="!searchOption.Circler" class="no-padding">
				 <a class="custom_item item item-avatar item-icon-right" ng-repeat="item in searchList" ng-click="sCircleDetail($index)">
					  <div class="id_round">{{item.circle}}</div>
					  <h2 class="blue_font" style="margin-top:6px;">LC {{item.circle}} {{item.name}}</h2>
					  <p class="no-white-space one_line">Secretaris: {{item.secretary_name}}</p>
					  <p class="no-white-space one_line">Leden: {{item.no_of_members}}</p>
					  <i class="icon icon-tapp-icons-v1_more-outline energized"></i>
				  </a>
			</div>
		</div>
		<div ng-if="searchList.length<=0" class="padding text-center">
			Geen zoekresultaten.
		</div>

 
		<br><br>

  </ion-content>

  <div class="tabs tabs-icon-top tabs-energized home_bottom_tabs"> 
    <a class="tab-item active" href="#/app/home"> <i class="icon icon-tapp-icons-v1_nl-otuline"></i> Home </a> 
    <!--<a class="tab-item " href="#/app/Circle"> <i class="icon icon-tapp-icons-v2-10-v3"></i> Mijn Circle </a>-->
    <a class="tab-item " href="#/app/Circle"> <i class="icon ion-ios-circle-filled"></i> Mijn Circle </a> 
    <a class="tab-item" href="#/app/news"> <i class="icon icon-news"></i> Nieuws </a> 
    <a class="tab-item" href="#/app/agenda"> <i class="icon icon-tapp-icons-v1_agenda"></i> Agenda </a> 
    <a class="tab-item" ng-click="toggleMenu()"> <i class="icon icon-tapp-icons-v2-11"></i> Menu </a> 
  </div>
</ion-view>
