<!-- 
Copyright Jaap Harmsma & Rob Hopster 2016-2017 **Just Add Sugar B.V.**
info@justaddsugar.nl of http://www.justaddsugar.nl
-->

<ion-view hide-side-menu="false" hide-back-button="true" hide-nav-bar="true" class="intro_view">
  <ion-content class="intro padding text-center" scroll="false" >
		<ion-slide-box on-slide-changed="slideHasChanged(index)" ng-class="{ 'first': first }">
			<ion-slide>
			  <div class="main intro_title">
				  <h1 class="animated fadeIn" style="color:#f78d9c">Welkom!</h1>
				  <p class="intro animated fadeIn">Bij de officiele mobiele app van de Ladies' Circle (LAPP). Met LAPP wordt alles nog leuker!</p>
				  <br>
				  <p class="intro animated fadeIn">Er volgt nu (eenmalig) een korte tour waarin we enkele basisfuncties laten zien.</p>
				  <br><br><br>
				  <p class="intro animated fadeIn">Veel plezier met het gebruik van LAPP!</p>
				<div class="demacate animated fadeInRight arrow-line" >
				  <div class="row">
					<div class="col col-33">
					  <span class=""></span>
					</div>
					<div class="col col-50">
					
					</div>
					<div class="col col-33">
					  <span class=""></span>
					</div>
				  </div>
				</div>
			  </div>
			  <br><br>
			</ion-slide>

			<ion-slide>
			  <div class="intro_title">
				<h1>Dashboards</h1>
				<p>Één dashboard voor de Ladies' Circle en een dashboard voor je eigen Circle.</p>
				<img ng-src="img/tour_img_dash.png" class="animated bounceInRight">
			  </div>
			</ion-slide>
			
			<ion-slide>
			  <div class="intro_title">
				<h1>Zoeken</h1>
				<p>Haal uit LAPP wat er in zit. Gebruik de zoek functie om te vinden wat, of wie, je zoekt.</p>
				<img ng-src="img/tour_img_search.png" class="animated bounceInRight">
			  </div>
			</ion-slide>
			
			<ion-slide>
			  <div class="intro_title">
				<h1 >Doe het zelf</h1>
				<p>Pas zelf je gegevens aan. Bijvoorbeeld je adres, telefoonnummer of de naam van je partner.</p>
				<img ng-src="img/tour_img_profile.png" class="animated bounceInRight">
			  </div>
			</ion-slide>
			
			<ion-slide>
			  <div class="intro_title">
				<h1 >iCal</h1>
				<p>Voeg een agenda item met één druk op de knop toe aan je eigen agenda.</p>
				<img ng-src="img/tour_img_ical.png" class="animated bounceInRight">
			  </div>
			</ion-slide>
			
			<ion-slide>
			  <div class="intro_title">
				<h1 >Google Maps</h1>
				<p>Altijd al willen weten waar een Lady woont? Zoom ook vooral even in of uit.</p>
				<img ng-src="img/tour_img_push.png" class="animated bounceInRight">
			  </div>
			</ion-slide>
			
			<ion-slide>
			  <div class="intro_title">
				<h1>Nog meer!</h1>
				<p>Je kunt alle overige functies en pagina's bereiken door op de menu knop te drukken.</p>
				<img ng-src="img/tour_img_menu.png" class="animated bounceInRight">
			  </div>
			</ion-slide>
			
			<ion-slide>
			</ion-slide>
		</ion-slide-box>

		<ion-footer-bar ng-if="!changeButton">
			<div class="row">
			  <div class="col col-50">
				<a ng-click="prev()">Vorige</a>
			  </div>
			  <div class="col col-50">
				<a ng-click="next()">Volgende</a>
			  </div>
			</div>
		  </ion-footer-bar>

		<ion-footer-bar ng-if="changeButton">
			<div class="row">
			  <div class="col col-50">
				<a ng-click="prev()">Vorige</a>
			  </div>
			  <div class="col col-50">
				<a ng-click="next()" style="color:#f78d9c">Lapp starten!</a>
			  </div>
			</div>
		  </ion-footer-bar>
		 
  </ion-content>
</ion-view>
