<ion-view class="detail_view" view-title="LCNL Statuten">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="goBack()"> </button>
  </ion-nav-buttons>

  <ion-content class="has-footer">
		<div class="list box_shadow  whitebg" style="">
			<h4 class="heading_padding">Hoi {{myInformation.firstname}}!</h4>
			<div class="padding grey_font" style="">
				<p>Super leuk dat je deze mobiele applicatie gebruikt! We hopen dat je door het gebruik van deze app nog meer kan sprankelen en sparkelen!</p>
				<img src="img/sparkle.jpg"/>
				</p>
			</div>
		</div>			

		
			
		<font style="font-size:11px;; color:#D4D1D1; float:right; padding:10px; ">{{myInformation.fullname}}, lidmaatschap id: {{myInformation.member_id}}, mag bewerken: {{myInformation.is_ediCircle}} </font>
</ion-content>
<div class="tabs tabs-icon-top tabs-energized home_bottom_tabs"> 
	<a class="tab-item active" href="#/app/home"> <i class="icon icon-tapp-icons-v1_nl-otuline"></i> Home </a> 
    <!--<a class="tab-item " href="#/app/Circle"> <i class="icon icon-tapp-icons-v2-10-v3"></i> Mijn Circle </a>-->
    <a class="tab-item " href="#/app/Circle"> <i class="icon ion-ios-circle-filled"></i> Mijn Circle </a>
	<a class="tab-item" href="#/app/message"> <i class="icon icon-tapp-icons-v1_comment-outline"></i> Berichten </a> 
	<a class="tab-item" href="#/app/agenda"> <i class="icon icon-tapp-icons-v1_agenda"></i> Agenda </a> 
	<a class="tab-item" ng-click="toggleMenu()"> <i class="icon icon-tapp-icons-v2-11"></i> Menu </a> 
</div>
</ion-view>
