<ion-view class="detail_view" view-title="Statistieken en cijfers LC NL">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="goBack()"> </button>
  </ion-nav-buttons>

  <ion-content class="has-footer">
		<div class="list box_shadow padding whitebg" style="">
			<h4 class="heading_padding">Leden</h4>
			<div class="row padding compact_list" style="padding-top:6px;">
				<div class="col-50 grey_font">Actieve leden:</div>
				<div class="col-50 blue_font">{{ntrList[0]["#circlers"]}}</div>
			</div>
			<div class="row padding compact_list">
				<div class="col-50 grey_font" >Oud-leden:</div>
				<div class="col-50 blue_font" >{{ntrList[0]["#oudcirclers"]}}</div>
			</div>
			<div class="row padding compact_list">
				<div class="col-50 grey_font" >Gemiddelde leeftijd:</div>
				<div class="col-50 blue_font" >{{ntrList[0]["gemm_leeftijd"]}}</div>
			</div>		

			<hr class="Circler_details_hr" />

			<h4 class="heading_padding">Circles</h4>
			<div class="row padding compact_list"  style="padding-top:6px;">
				<div class="col-50 grey_font">Aantal Circles:</div>
				<div class="col-50 blue_font">{{ntrList[0]["#circles"]}}</div>
			</div>
			<div class="row padding compact_list">
				<div class="col-50 grey_font">Te klein (14 of minder):</div>
				<div class="col-50 blue_font">{{ntrList[0]["#too_small_circles"]}}</div>
			</div>
			<div class="row padding compact_list">
				<div class="col-50 grey_font" >Extreem klein (9 of minder):</div>
				<div class="col-50 blue_font" >{{ntrList[0]["#very_small_circles"]}}</div>
			</div>	

			<hr class="Circler_details_hr" />

			<h4 class="heading_padding">Service opbrengsten</h4>
			<div class="row padding compact_list"  style="padding-top:6px;">
				<div class="col-50 grey_font">Dit jaar:</div>
				<div class="col-50 blue_font">€ {{ntrList[0]["reported_service_revenue_this_year"]}}</div>
			</div>
			<div class="row padding compact_list">
			<div class="col-50 grey_font">Vanaf ingebruikname:</div>
			<div class="col-50 blue_font">€ {{ntrList[0]["reported_service_revenue_all_time"]}}</div>
			</div>

			<hr class="Circler_details_hr" />

			<h4 class="heading_padding">Ladies app gebruik</h4>
			<div class="row padding compact_list"  style="padding-top:6px;">		
			<div class="col-50 grey_font">Vandaag:</div>
			<div class="col-50 blue_font">{{ntrList[0]["tapp_usage_today"]}}</div>
			</div>
			<div class="row padding compact_list">
			<div class="col-50 grey_font">Dit jaar:</div>
			<div class="col-50 blue_font">{{ntrList[0]["tapp_usage_year"]}}</div>
			</div>
			<div class="row padding compact_list">
				<div class="col-50 grey_font">Vanaf ingebruikname:</div>
				<div class="col-50 blue_font" >{{ntrList[0]["tapp_usage_always"]}}</div>
			</div>		
		</div> 
		
		<div class="list box_shadow padding whitebg" style="">
			<h4 class="heading_padding">Ledenverloop</h4>
			<div class="row " style="padding-top:2px; padding-bottom:2px;">
				<div class="col grey_font">
					<p>Deze (klikbare) grafiek laat het ledenverloop zien over de afgelopen 4 jaren. We houden rekening met de natuurlijke uittreding op 1 april vanwege het bereiken van de 45-jarige leeftijd. Op 2 april zal het ledenaantal dus laag zijn, en op 31 maart hoog.</p>
				</div>
			</div>
			<div class="row padding compact_list" style="">	
					<br>
					<br>
					<div style="position:relative; width:100%; padding-left:20px;" >
						<div class="chart-left-text">Aantal leden</div>
							<canvas id="bar" class="chart chart-line" data="graph.data" labels="graph.labels" series="graph.series" height="140px"></canvas>
					</div>
			</div>
		</div> 			
		<br>
</ion-content>
<div class="tabs tabs-icon-top tabs-energized home_bottom_tabs"> 
	<a class="tab-item active" href="#/app/home"> <i class="icon icon-tapp-icons-v1_nl-otuline"></i> Home </a> 
    <!--<a class="tab-item " href="#/app/Circle"> <i class="icon icon-tapp-icons-v2-10-v3"></i> Mijn Circle </a>-->
    <a class="tab-item " href="#/app/Circle"> <i class="icon ion-ios-circle-filled"></i> Mijn Circle </a> 
	<a class="tab-item" href="#/app/message"> <i class="icon icon-tapp-icons-v1_comment-outline"></i> Berichten </a> 
	<a class="tab-item" href="#/app/agenda"> <i class="icon icon-tapp-icons-v1_agenda"></i> Agenda </a> 
	<a class="tab-item" ng-click="toggleMenu()"> <i class="icon icon-tapp-icons-v2-11"></i> Menu </a> 
</div>
</ion-view>