
.intro_view {
    background:url('../img/bg3___.png') !important;
/*    background-size: contain !important; */
		background-size:cover !important;
    background-position: center !important;
    background-repeat:no-repeat !important;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.activate_view {
		/* background:#f58220 !important; */
	}
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .activate_view {
    background:url('../img/bg1.png') !important;
    background-size: 100% 100% !important;
    background-repeat:no-repeat !important;
  }

  .detail_view {
		background:url('../img/bg2.png') !important;
		background-size: 100% 100% !important;
		background-repeat:no-repeat !important;
	}
	
	.arrow-line{
		margin-top:75px !important;
	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
	.activate_view {
		/* background:#f58220 !important; */
	}

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.activate_view {
		/* background:#f58220 !important; */
	}
	.arrow-line{
		margin-top:95px !important;
	}

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	.activate_view {
		background:url('../img/bg1.png') !important;
		background-size: 120%  !important;
		background-repeat:no-repeat !important;
	}
	
	.detail_view {
		background:url('../img/bg2.png') !important;
		background-size: 120% !important;
		background-repeat:no-repeat !important;
	}

	.arrow-line{
		margin-top:95px !important;
	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
	.activate_view {
		/* background:#f58220 !important; */
	}
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
	.activate_view {
		/* background:#f58220 !important; */
	}
	.arrow-line{
		margin-top:167px !important;
	}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
	.activate_view {
		background:url('../img/bg1.png') !important;
		background-size: 100% 105% !important;
		background-repeat:no-repeat !important;
	}
	.arrow-line{
		margin-top:167px !important;
	}

	.detail_view{
		background:url('../img/bg2.png') !important;
		background-size: 100% 105% !important;
		background-repeat:no-repeat !important;
	}
	
	.active_tabs .tab-item, .custom_tab .tab-item{
		margin-top:2px;
	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
	.activate_view {
		/* background:#f58220 !important; */
	}
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
	.activate_view {
		/* background:#f58220 !important; */
	}
	.arrow-line{
		margin-top:63px !important;
	}
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
	.activate_view {
		background:url('../img/bg1.png') !important;
		background-size: 100% 94% !important;
		background-repeat:no-repeat !important;
	}

	.detail_view {
		background:url('../img/bg2.png') !important;
		background-size: 100% 94% !important;
		background-repeat:no-repeat !important;
	}

	.arrow-line{
		margin-top:198px !important;
	}
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
	.activate_view {
		/* background:#f58220 !important; */
	}
}



/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.activate_view {
		background:url('../img/bg1.png') !important;
		background-size: 120%  !important;
		background-repeat:no-repeat !important;
	}

	.detail_view {
		background:url('../img/bg2.png') !important;
		background-size: 120% !important;
		background-repeat:no-repeat !important;
	}

	.activate_view .scroll-content{ background:white !important; }
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.activate_view {
		background:url('../img/bg1.png') !important;
		background-size: 120%  !important;
		background-repeat:no-repeat !important;
	}

	.detail_view {
		background:url('../img/bg2.png') !important;
		background-size: 120% !important;
		background-repeat:no-repeat !important;
	}

	.activate_view .scroll-content{ background:white !important; }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.activate_view {
		background:url('../img/bg1.png') !important;
		background-size: 120%  !important;
		background-repeat:no-repeat !important;
	}

	.detail_view {
		background:url('../img/bg2.png') !important;
		background-size: 120% !important;
		background-repeat:no-repeat !important;
	}

	.activate_view .scroll-content{ background:white !important; }
}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.activate_view {
		background:url('../img/bg1.png') !important;
		background-size: 120%  !important;
		background-repeat:no-repeat !important;
	}

	.detail_view {
		background:url('../img/bg2.png') !important;
		background-size: 120% !important;
		background-repeat:no-repeat !important;
	}

	.activate_view .scroll-content{ background:white !important; }
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.activate_view {
		background:url('../img/bg1.png') !important;
		background-size: 120%  !important;
		background-repeat:no-repeat !important;
	}

	.detail_view {
		background:url('../img/bg2.png') !important;
		background-size: 120% !important;
		background-repeat:no-repeat !important;
	}

	.activate_view .scroll-content{ background:white !important; }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.activate_view {
		background:url('../img/bg1.png') !important;
		background-size: 120%  !important;
		background-repeat:no-repeat !important;
	}

	.detail_view {
		background:url('../img/bg2.png') !important;
		background-size: 120% !important;
		background-repeat:no-repeat !important;
	}

	.activate_view .scroll-content{ background:white !important; }
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	.activate_view {
		background:url('../img/bg1.png') !important;
		background-size: 120%  !important;
		background-repeat:no-repeat !important;
	}

	.detail_view {
		background:url('../img/bg2.png') !important;
		background-size: 120% !important;
		background-repeat:no-repeat !important;
	}

	.activate_view .scroll-content{ background:white !important; }
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
	.activate_view {
		background:url('../img/bg1.png') !important;
		background-size: 120%  !important;
		background-repeat:no-repeat !important;
	}

	.detail_view {
		background:url('../img/bg2.png') !important;
		background-size: 120% !important;
		background-repeat:no-repeat !important;
	}

	.activate_view .scroll-content{ background:white !important; }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
	.activate_view {
		background:url('../img/bg1.png') !important;
		background-size: 120%  !important;
		background-repeat:no-repeat !important;
	}

	.detail_view {
		background:url('../img/bg2.png') !important;
		background-size: 120% !important;
		background-repeat:no-repeat !important;
	}

	.activate_view .scroll-content{ background:white !important; }
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
	.activate_view {
		/* background:#f58220 !important; */
	}
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {
	.activate_view {
		background:url('../img/bg1.png') !important;
		background-size: 100% 100% !important;
		background-repeat:no-repeat !important;
	}

	.detail_view {
		background:url('../img/bg2.png') !important;
		background-size: 100% 100% !important;
		background-repeat:no-repeat !important;
	}
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {
	.activate_view {
		/* background:#f58220 !important;*/
	}
}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
	.activate_view {
		/*  background:#f58220 !important; */
	}
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
	.activate_view {
		background:url('../img/bg1.png') !important;
		background-size: 100% 100% !important;
		background-repeat:no-repeat !important;
	}

	.detail_view {
		background:url('../img/bg2.png') !important;
		background-size: 100% 100% !important;
		background-repeat:no-repeat !important;
	}
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
	.activate_view {
		/* background:#f58220 !important; */
	}
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
	.activate_view {
		/* background:#f58220 !important; */
	}
}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
	.activate_view {
		background:url('../img/bg1.png') !important;
		background-size: 100% 106% !important;
		background-repeat:no-repeat !important;
	}

	.detail_view {
		background:url('../img/bg2.png') !important;
		background-size: 100% 106% !important;
		background-repeat:no-repeat !important;
	}
}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
	.activate_view {
		/* background:#f58220 !important; */
	}
}

