@font-face {
	font-family: "Roboto-Regular";
	src: url("font/Roboto-Regular.ttf") format("opentype");
}

@font-face {
	font-family: "Roboto-Light";
	src: url("font/Roboto-Light.ttf") format("opentype");
}

@font-face {
	font-family: "Roboto-Thin";
	src: url("font/Roboto-Thin.ttf") format("opentype");
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .title {
	font-family: 'Roboto-Regular', sans-serif; 
	color:#304392;
}

h4 {
	font-size:17px;
}	

body, input, textarea, .button{
	font-family: 'Roboto-Light', sans-serif; 
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?3xzjtg');
    src:    url('fonts/icomoon.eot?3xzjtg#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?3xzjtg') format('truetype'),
        url('fonts/icomoon.woff?3xzjtg') format('woff'),
        url('fonts/icomoon.svg?3xzjtg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-location-arrow:before {
    content: "\e92c";
}
.icon-tapp-icons-v2-012:before {
    content: "\e929";
}
.icon-tapp-icons-v2-022:before {
    content: "\e92a";
}
.icon-tapp-icons-v2-042:before {
    content: "\e92b";
}
.icon-tapp-icons-v2-phone-03:before {
    content: "\e92f";
}
.icon-tapp-icons-v1_agenda:before {
    content: "\e900";
}
.icon-tapp-icons-v1_comment-outline:before {
    content: "\e901";
}
.icon-tapp-icons-v1_gamepad:before {
    content: "\e903";
}
.icon-tapp-icons-v1_i-circle:before {
    content: "\e904";
}
.icon-tapp-icons-v1_more-outline:before {
    content: "\e905";
}
.icon-tapp-icons-v1_nl-otuline:before {
    content: "\e906";
}
.icon-tapp-icons-v1_ntr-circle:before {
    content: "\e907";
}
.icon-tapp-icons-v1_phone-outline:before {
    content: "\e908";
}
.icon-tapp-icons-v1_questionmark-circle:before {
    content: "\e909";
}
.icon-tapp-icons-v1_search:before {
    content: "\e90a";
}
.icon-tapp-icons-v1_send-message:before {
    content: "\e90b";
}
.icon-tapp-icons-v1_settings-wheel-filled:before {
    content: "\e90c";
}
.icon-tapp-icons-v1_settings-wheel-outline:before {
    content: "\e90d";
}
.icon-tapp-icons-v1_smartphone:before {
    content: "\e90e";
}
.icon-tapp-icons-v2-01 .path1:before {
    content: "\e90f";
    color: rgb(255, 255, 255);
}
.icon-tapp-icons-v2-01 .path2:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(35, 31, 32);
}
.icon-tapp-icons-v2-01 .path3:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(35, 31, 32);
}
.icon-tapp-icons-v2-02 .path1:before {
    content: "\e912";
    color: rgb(255, 255, 255);
}
.icon-tapp-icons-v2-02 .path2:before {
    content: "\e913";
    margin-left: -1em;
    color: rgb(35, 31, 32);
}
.icon-tapp-icons-v2-02 .path3:before {
    content: "\e914";
    margin-left: -1em;
    color: rgb(35, 31, 32);
}
.icon-tapp-icons-v2-02 .path4:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(35, 31, 32);
}
.icon-tapp-icons-v2-02 .path5:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(35, 31, 32);
}
.icon-tapp-icons-v2-03 .path1:before {
    content: "\e917";
    color: rgb(255, 255, 255);
}
.icon-tapp-icons-v2-03 .path2:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(35, 31, 32);
}
.icon-tapp-icons-v2-03 .path3:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(35, 31, 32);
}
.icon-tapp-icons-v2-04 .path1:before {
    content: "\e91a";
    color: rgb(255, 255, 255);
}
.icon-tapp-icons-v2-04 .path2:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgb(35, 31, 32);
}
.icon-tapp-icons-v2-04 .path3:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgb(35, 31, 32);
}
.icon-tapp-icons-v2-04 .path4:before {
    content: "\e91d";
    margin-left: -1em;
    color: rgb(35, 31, 32);
}
.icon-tapp-icons-v2-05 .path1:before {
    content: "\e91e";
    color: rgb(255, 255, 255);
}
.icon-tapp-icons-v2-05 .path2:before {
    content: "\e91f";
    margin-left: -1em;
    color: rgb(35, 31, 32);
}
.icon-tapp-icons-v2-05 .path3:before {
    content: "\e920";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-tapp-icons-v2-05 .path4:before {
    content: "\e921";
    margin-left: -1em;
    color: rgb(35, 31, 32);
}
.icon-tapp-icons-v2-06:before {
    content: "\e922";
}
.icon-tapp-icons-v2-07:before {
    content: "\e923";
}
.icon-tapp-icons-v2-08:before {
    content: "\e926";
}
.icon-tapp-icons-v2-09:before {
    content: "\e927";
}
.icon-tapp-icons-v2-10:before {
    content: "\e924";
}
.icon-tapp-icons-v2-10-v3:before {
    content: "\e928";
}
.icon-tapp-icons-v2-11:before {
    content: "\e925";
}
.icon-power_settings_new:before {
    content: "\e8ac";
}
.icon-news:before {
    content: "\e902";
}
.icon-linkedin2:before {
    content: "\e930";
}





.tabs [class^="icon-"],.tabs [class*=" icon-"]{
	font-size:2.4em !important;
	padding-top:5px !important;
}

a { text-decoration: none; }

img { max-width: 100%; height:auto; }

.no-white-space{
	white-space:normal !important;
}

.no-border {
	border:0px !important;
}

.text-center{
	text-align:center;
}

.no-padding{
	padding:0px;
}

/*
.pane {
    background:url('../img/bg1.png') !important;
    background-size:100% 100% !important;
    background-repeat:no-repeat !important;
}


.activate_view {
    background:url('../img/bg1.png') !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat:no-repeat !important;
}

.normal_view{
	background:url('../img/bg2.png') !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat:no-repeat !important;
}
*/
.tabs-nav .tab {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
    
}

.bar {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
    background:transparent !important;
}

.tabs{
    background:transparent !important;
}

.active_tabs .icon{
	display:none;
}

.tab-item-active .tab-title{
	background-color:#304392;
	border-radius:10px;
	width:50px !important;
	padding:5px;
	padding-left:20px;
	padding-right:20px;
}

.pre_loading_view{
	background:url('../img/pre_loading.jpg') !important;
    background-size:100% 100% !important;
    background-repeat:no-repeat !important;
}

/* home */
.whitebg{
	background:white;
}

.custom_item{
	border:0px;
	border-bottom:1px solid #eee;
	margin-top:1px;
	min-height:100px;
}

.custom_tab .active span{
	background-color:#304392;
	border-radius:10px;
	padding:5px;
}

.custom_tab .tab-item span{
	padding-left:10px;
	padding-right:10px;
}

.home_bottom_tabs{
	background:white !important;
	color:#f45c71 !important;
	padding-top:0px !important;
}

.button-energized{
	padding-left:10px;
	padding-right:10px;
}

.home_bottom_tabs .ion-ios-drag{
	 padding-top: 3px;
}

.home_bottom_tabs .active{
	background:#304392 !important;
	color:white;
}

.home_bottom_tabs .tab-item {
	padding-top:2px !important;
	font-size:10px !important;
	line-height:9px !important;
}

.box_shadow{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.ion-ios-more-outline{
	font-size:3em !important;
}

.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image{
	max-width: 70px;
    max-height: 70px;
    width: 100%;
    height: 100%;
	left:10px;
	object-fit: cover;
    overflow: hidden;
}

.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content{
	padding-left:90px
}

.avatar_img{
	border-radius: 50%;
	max-width: 70px;
    max-height: 70px;
    width: 100%;
    height: 100%;
}

.menu_content{
	background:#304392;
}

.menu_content .item{
	background:transparent !important;
	border:0px;
	color:white;
	height:45px;
}

.menu_content .item-complex .item-content,.menu_content .item-radio .item-content{
	background:transparent !important;
	border:0px;
	color:white;
}

.menu_content h2{
	color:white;
}

.menu_content [class^="icon-"],.menu_content [class*=" icon-"]{
	font-size:1.5em;
}

.menu_footer{
	
	z-index:9999;
	bottom:0px;
	width:100%;
	height:50px;
	position:absolute;
	background:#304392;
}

.menu_footer .item{
	background:transparent !important;
	border:0px;
	color:white;
}

.menu_content .has-header{
	top:0px !important;
}

.id_round{
	width:70px;
	height:70px;
	background:#f59292;
	position:absolute;
	left:10px;
	border-radius:50%;
	padding-top:25px;
	text-align:center;
	color:white;
	font-family: "Roboto-Thin"; 
	font-size:26px;	 	
}

.border_round{
	width:50px;
	height:50px;
	border:1px solid #f45c71;
	position:absolute;
	left:10px;
	border-radius:50%;
	padding-top:13px;
	text-align:center;
	color:#f45c71;
}

.tabler_detail_input .item{
	border:0px;
}

.tabler_detail_input .item-input{
	padding-left:4px;
}

.item-input{
	margin-left:10px;
	margin-right:10px;
}

.tabler_detail_input input{
	background:#eee;
	border-radius:10px;
	padding-left:10px;
}

.angular-google-map-container { height: 100vh; }

.info_window{
	font-size:2em;
	background:white;
	border-radius: 50%;
	width:240px !important;
}

.info_window .button{
	width:43px;
	height:43px;
	min-width:43px;
	min-height:43px;
	border-radius:50%;
	display:block !important;
	padding:0px 2px !important;
}

.table_go_btn{
	position:absolute;
	top:25px;
	right:10px;
}

/* quiz */
.quiz_item{
	min-height:40px;
	border-left:none !important;
	border-right:none !important;
	padding-left:60px; 
/*	padding-top:11px !important;
	padding-bottom:16px !important;	*/
}


.quiz_item h2{
	margin-top:5px;
}

.quizNum{
/*	float:right; 
	margin-right:10px; */
	background:#eee;
	padding:5px; 
	border-radius:10px;	
}

.quiz_item .ion-ios-close-empty{
	color:red;
}

.quiz_item .ion-ios-checkmark-empty{
	color:green;
}

.quiz_round{
	width:30px;
	height:30px;
	border:1px solid #f45c71;
	position:absolute;
	left:10px;
	border-radius:50%;
	padding-top:4px;
	text-align:center;
	color:#3c4c62;
}

.score_round{
	text-align:center;
	width:100px;
	height:100px;
	border:1px solid #f45c71;
	border-radius:100%;
	font-size:2.5em;
	color:#304392;
	padding:25px;
	padding-top:40px;
	padding-bottom:40px;

}


/* ntr */
.item-accordion {
  line-height: 31px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.1s all linear;
  border:0px;
}
.item-accordion.ng-hide {
  line-height: 0px;
}
.item-accordion.ng-hide-add,
.item-accordion.ng-hide-remove {
  display: block !important;
  transition: 0.1s all linear;
}

.item-accordion .category_detail{
	padding-left:10px;
}

.date_round{
	width:70px;
	height:70px;
	background:#f59292;
	position:absolute;
	left:10px;
	border-radius:50%;
	padding-top:12px;
	text-align:center;
	color:white;
	font-size:14px;
	line-height:15px;
	font-family: 'Roboto-Thin', sans-serif; 
}

.chart-left-text{
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
	width:100px;
	margin-left:-65px;
	position:absolute;
	top:75px;
	font-size:85%;
	color: #666;	
}

.chart-left-text_mytable{
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
	width:100px;
	margin-left:-65px;
	position:absolute;
	top:27px; 
	font-size:85%;
	color: #666;
}

.detail_tab {
	position:relative;
	margin-top:10px; 
	margin-bottom:10px;
	height:60px;
}

.detail_tab .tab-item .icon{
	font-size:3.5em !important;
}

.detail_tab .tab-item{
	line-height:35px !important;
}

.search_input{
	background:#eee;
	border:0px;
	border-radius:10px;
	height:30px;
}
//Yashwant CSS


.horizontalcircle{
    float:left;
}

.left-img {
float: left;
width: 70px;
height: 70px;
margin-right:15px; 
}
.custom-anchor{padding-left: 0px !important;}
//Yashwant CSS

.small_grey_font{ 
 font-size:0.8em !important; 
 color:#666 !important;
}

.grey_font{ 
 color:#666 !important;
} 

.blue_font{ 
	color:#304392;
} 

.compact_list {
 line-height:15px;
}


.agenda_detail_remarks{
line-height:1.45em;	
}

.one_line{
   height:15px;
   line-height:15px;
   overflow:hidden;
}

.two_lines{
   height:34px;
   line-height:17px;
   overflow:hidden;
}

.three_lines{
   height:51px;
   line-height:17px;
   overflow:hidden;
}

.three_lines_btn{
   height:51px;
   line-height:17px;
   overflow:hidden;
   width: calc(100% - 50px);
}

/*.custom-img {
	width: 70px;
	height: 70px;
	position: absolute;
	left: 10px;
}
*/

.custom-img {
	position: absolute;
  left: 10px;
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.custom-img > img {
  max-width: 70px;
}

.orange-custom{
	width:70px;
	height:70px;
	background:#f59292;
	position:absolute;
	left:10px;
	border-radius:50%;
	padding-top:25px;
	font-size:1.4em;
	text-align:center;
	color:white;
}


.sidemenu-orange-custom{
    background:#f45c71;
    color:#fff;
    line-height: 50px;
    text-align: center;
	width: 70px;
	height: 70px;
	position: absolute;
	left: 5px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	font-family: "Roboto-Thin"; 
	font-size:20px;	 	
}

.name_below_circle {
	font-size:0.8em; 
	color:#555; 
	margin-top:0px;
}

.dashboard-orange{
    background:#f59292;
    color:#fff;
    line-height: 70px;
    text-align: center;
	width: 70px;
	height: 70px;
	margin:0 auto;
	margin-bottom:5px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.organge_font{
	font-family: "Roboto-Thin"; 
	font-size:20px;	 	
	}


.pos-relative{position:relative; text-align: center;}
.pos-img{ left: 0; right: 0; width:70px; margin:0 auto;}

.orange-custom.menu-img{width:50px; height: 50px; line-height: 50px; left:10px;}
.custom-img.menu-img-top{width:50px; height: 50px; left:10px;}
.pdd-left70{padding-left: 70px !important;}

.heading_padding {
	padding-left:10px;
	padding-right:10px;
	padding-bottom:0px;
	padding-top:12px;
	color:#304392;
	margin-bottom:0px;
	margin-top:0px;		
}

.heading_ads {
	font-size:11px; 
	text-align:center;
	padding-top:6px;
	padding-bottom:0px; 
	color:#f45c71;
	margin-bottom:0px;
	margin-top:0px;		
}
	

	
.rotate_text {
    
}

.custom-window {
    position: fixed;
    z-index: 999;
    box-shadow: 0px 0px 24px #666;
    left: 0;
    border-radius: 0;
    right: 0;
    margin: 0 auto;
    top:65px;
}

.selectable{
    -webkit-user-select: auto;
}

.tabler_details_text {
	color:#666;
	line-height:9px;
	line-height:9px;
}

.tabler_details_div{
	padding-top:8px;
	padding-bottom:1px;
	
}

.tabler_details_hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	/* padding: 8px 0px 8px 0px; */		
}

.tabler_detail_strong {
	font-weight:bolder; 
	color:#828b95;	
}

#addStepWrapper{
  overflow:hidden !important;
} 

#list {
  width: 100%;
	padding-left:20px;
	float:left;
}

#list ul {
  margin-top: 0px;
  margin-bottom: 0px;	
}

#list ul li {
  text-align: left;
  list-style: disc;
  margin: 0px 0px 0px 0px; 
}

/*IPAD SPECIFIC TWEAKS*/
.platform-ipad .item {
  border-color: transparent !important;
  background-color: transparent !important;
}


/*ANDROID SPECIFIC TWEAKS*/
.platform-android .bar .title.title-left {
   text-align:center;
}


.platform-android .tabs {
	height:49px !important;	
}

.platform-android .has-header.has-tabs-top {
  top: 109px !important; 
}
